/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
    font-size: 62.5%;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: .1rem;
    margin-bottom: 1%; 
}

.container {
    width: 100%; 
    max-width: 88rem;
    margin: auto;
}

/* Header Styles */

header {
    width: 100%;
    display: flex;
}

header nav {
    margin-top: 4%; 
    width: 69%;
    justify-content: space-between;
    display: flex;
}

header nav a {
    text-decoration: none;
    color: #b0b0b0;
}

header nav a:hover {
    text-decoration: underline;
    color: black;
}

header .logo {
    align-self: flex-end;
    margin: 3% 0 0 10%; 
}

/* Call To Action (CTA) Styles */

.cta {
    display: flex;
    margin-top: 8%; 
    justify-content: flex-end;
}

.cta .cta-text {
    font-size: 7.2rem;
    text-align: center;
    letter-spacing: 5px;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    margin: 0 9% 0 0; 
}

.cta .cta-text button {
    border: 1px double black;
    font-size: 1.6rem;
    background: white;
    width: 58%; 
    height: 3.2rem;
    margin-top: 3%; 
    cursor: pointer;
}

.cta .cta-text button:hover {
    background: black;
    color: white;
}

/* Main Content Styles */

.main-content {
   border-top: .2rem solid black; 
   border-bottom: .2rem solid black;
   margin: 9% 0 4% 0; 
   padding: 4% 0;
   font-size: 1.6rem;
   line-height: 1.8rem;
}

.main-content .top-content {
    display: flex;
    justify-content: space-around;
}

.main-content .middle-img {
    display: block;
    margin: 3% auto;
}

.main-content .bottom-content {
    display: flex;
    justify-content: space-around;
}

.main-content .bottom-content p {
    padding-right: 2%;
}

/* Contact Styles */

.contact {
  font-size: 1.6rem;
}
.contact p {
    margin: 2% 2% 2% 0;
}

/* Footer Styles */

footer {
    text-align: center;
    margin: 5% 0 2%;
}

/* Tablet */

@media(max-width: 768px) {
  header nav {
    margin-left: 2%;
  }

  header .logo {
    margin: 3% 3% 0 10%;
  }

  .cta {
      justify-content: center;
  }

  .cta .cta-text {
      margin-right: 5%;
  }

  .main-content .middle-img {
     width: 90%;
  }

  .main-content {
     margin: 9% 2% 4%;
  }

  .contact {
      margin-left: 2%;
  }

  .contact p {
    margin-left: 0;
  }
}

/* Phone */

@media(max-width: 400px) {

  header {
    flex-wrap: wrap;
    justify-content: center;
    border: .1rem solid;
  }

  header nav {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin: 0;
      align-items: center;
  }

    header nav a {
        width: 100%;
        margin: 0;
        display: block;
        text-align: center;
        padding: 2% 0;
        font-size: 2rem;
        border-bottom: .1rem solid gray;
    }

    header nav a:first-child {
        border-top: .1rem solid gray;
    }

    header nav a:hover {
        background: gray;
    }


    header .logo {
        order: -1;
        max-width: 100%;
        margin: 2% 0;
    }

    .cta {
        margin-top: 5%;
        flex-flow: column;
        align-items: center;
      }

    .cta .cta-text {
        margin: 0 0 6% 0;
      }

    .cta img {
        max-width: 80%;
    }

    .main-content .top-content {
        flex-wrap: wrap;
        height: 30rem;
    }

    .main-content .bottom-content {
        flex-wrap: wrap;
        align-content: space-between;
        height: 44rem;
    }

}
