/* start two column set up */
.twoCol {
  display: flex;
  justify-content: space-between;
}
.twoCol div {
  background-color: #b1e1dd;
  font-size: 1.5rem;
  padding: 3%;
  margin: 5% 2%;
}
/* end two column set up */
/*  start three column set up */
.threeCol {
  display: flex;
  justify-content: space-between;
}
.threeCol div {
  background-color: #b1e1dd;
  font-size: 1.5rem;
  margin: 5% 2%;
  padding: 2%;
}
/* end three column set up */
