/* CTA Styles */
.cta {
  margin-top: 72px;
  display: block;
}
.cta .cta-text {
  float: left;
  font-size: 72px;
  letter-spacing: 5px;
  text-align: center;
  vertical-align: middle;
  margin: 50px 82px 0 100px;
}
.cta .cta-text button {
  border: 1px double #000;
  font-size: 16px;
  background: #fff;
  width: 170px;
  height: 32px;
  margin-top: 10px;
  cursor: pointer;
}
.cta .cta-text button:hover {
  background: #000;
  color: #fff;
}
