/* Call To Action (CTA) Styles */
.cta {
  display: flex;
  margin-top: 72px;
  justify-content: flex-end;
}
.cta img {
  width: 27.8vw;
  height: 27.8vw;
}
.cta .cta-text {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  margin: 0 9.3% 0 0;
}
.cta .cta-text button {
  border: 1px double black;
  background: white;
  margin-top: 10px;
  cursor: pointer;
}
.cta .cta-text button:hover {
  background: black;
  color: white;
}
