/* Call To Action (CTA) Styles */
.cta {
  display: flex;
  flex-wrap: wrap;
  margin-top: 72px;
  justify-content: flex-end;
}
@media (max-width: 879px) {
  .cta {
    justify-content: center;
  }
}
.cta .cta-text {
  font-size: 72px;
  text-align: center;
  letter-spacing: 5px;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  margin: 0 82px 0 0;
}
@media (max-width: 879px) {
  .cta .cta-text {
    margin: 25px auto;
  }
}
.cta .cta-text button {
  border: 1px double black;
  font-size: 16px;
  background: white;
  width: 170px;
  height: 32px;
  margin-top: 10px;
  cursor: pointer;
}
.cta .cta-text button:hover {
  background: black;
  color: white;
}
@media (max-width: 550px) {
  .cta img {
    width: 60%;
    height: 60%;
  }
}
