/* Use your CSS from RWD - I here.  /* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html{
  /*  border: 4px solid purple; */
  border: 4px solid purple;
  font-family: 'Titillium Web', sans-serif;
  display: flex;
  max-width: 880px;
  flex-direction: column;
  /* max-width: 800px; */
  margin: 0 auto;
  height: 100%;
  font-size: 62.5%;
}



h1, h2, h3, h4, h5 {
  font-family: 'Bangers', cursive;
  letter-spacing: .1rem;
  margin-bottom: 1.5rem;
}

/* VVVVVVV   form-contact VVVVVVV   */
.nav-container {
  /* max-width: 1500px;  */
  border: 2px solid hotpink;
  margin: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar_top {
  border: 1px solid blue;
  display: flex;
  max-width: 88rem;
  width: 68%;
  justify-content: space-between;
  align-items: center;
  /* align-items: center;
   height: 40px;    */
}


.nav-container  .navbar_top a{
  border: 1px solid blue;

  color: #BABABA;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bolder;
}

.navbar_top a:hover {
  font-size: 3rem;
  color: dodgerblue;
}

.logoIMG {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: 'Raleway', cursive;
  width: 191.78px;
  height: 40px;
  /*background: lightgrey; */
}




.customer-form {
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 80%;
  margin: 0 auto;
}

.form_h1 {
  border: 1px solid pink;
  font-family: 'Squada One', cursive;
  font-size: 30px;
  margin-bottom: 1%;
  display: flex;
  justify-content: center;
  text-align: center;
}



input {
  border: 1px solid green;
  width: 100%;
  line-height: 2%;
  margin-right: 10px;
}

label {
  border: 5px solid yellow;
  text-align: right;
  width: 10rem;
}

.form_h2 {
  border: 1px solid deeppink;;
  margin: 0;
  font-family: 'Palanquin', sans-serif;
  font-weight: bolder;
  line-height: 30px;
}

.form_field {
  border: 4px solid orange;
  font-family: 'Palanquin', sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
  padding: 0 2%;
  align-items: center;
}

.item_fields {
  border: 4px solid rebeccapurple;
  display: flex;
  padding: 0 2%;
  width: 100%;
  align-items: center;
}


.name-container {
  display: flex;
  width: 50%;
}


#first_name, #last_name {
  width: 20rem;
  line-height: 1;
}


.address-container {
  border: 4px solid pink;
  display: flex;
  width: 70%;

}

#address_line1, #address_line2  {
  border: 1px solid brown;
  width: 30rem;
}

.apt_num {
  border: 5px solid crimson;
  display: flex;
  width: 35%;
}


.apt_num input{
  border: 3px solid blue;
  width: 95%;
  margin: 0;
}

.address_fields {
  border: 5px solid blue;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 95%;
}

.zipLabel {
  display: flex;
  justify-content: flex-end;
}

.zipcode {
  width: 30%;
  text-align: center;
}

.two_fields:nth-child(3) {
  margin-right: 2px
}

.two_fields select {
  margin-right: 10px;
}


.email_field {
  display: flex;
  align-items: center;
  width: 60%;
  margin: 0 auto;
}

.surveyInfo {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.checkboxes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 13rem;
}

.checkboxfields {
  border: 1px solid green;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33%;
  height: 50%;
}

.checkboxfields input {
  width:  1.8rem;
  height: 1.8rem;
}

.checkboxfields label {
  text-align: center;
}

.message_field {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.message_field label {
  width: 100%;
  text-align: center;
}

.message_field textarea {
  border: 1px solid grey;
  border-radius: 10px;
  height: 300px;
  width: 100%;
  text-align: left;
}

.submit {
  width: 100%;
  height: 8rem;
}

.submit button {
  border: 1px solid black;
  color: lightblue;
  background: dodgerblue;
  font-family: 'Squada One', cursive;
  font-size: 3rem;
  border-radius: 1rem;
  width: 14rem;
  display: flex;
  justify-content: center;
  margin: 2rem auto;
}

.submit button:hover {
  color: white;
  background: seagreen;
  border: 3px solid darkgreen;
}


footer {
  border: 1px solid green;
  width: 80%;
  margin: 0 auto;
}

footer nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5rem;
}
footer nav a {

  color: #BABABA;
  text-decoration: none;
}


footer nav a:hover {
  color: dodgerblue;
}

/* ∆∆∆∆∆∆∆  form-contact  ∆∆∆∆∆∆∆  */


@media(max-width: 800px) {
  .container {
    padding: 0;
  }

  .customer-form {
    font-size: 1.5rem;
    width: 100%;
  }


  .nav-container {
    flex-direction: column;
    margin-bottom: 2rem;
  }

  .logoIMG {
    order: -1;
  }

  .navbar_top {
    width: 50%;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .navbar_top a {
    padding: 1% 0;
  }

  .form_field {
    padding: 0;
    margin: 0;
  }

  .checkboxes {
    border: 5px solid pink;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100%;
  }

  .checkboxfields {
    border: 1px solid green;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 50%;
    height: 5rem;
  }
}

@media (max-width: 500px) {
  .customer-form {
    width: 100%;
    font-size: 2rem;
  }

  .checkboxes {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .checkboxfields {
    width: 80%;
    height: 8rem;
    justify-content: space-evenly;
  }

  .checkboxfields label {
    width: 50%;
  }


  .top_item_field {
    display: flex;
    flex-direction: column;
  }

  .name-container {
    padding: 1% 0;
  }



}