/*

	Example usage:

	.some-element {
		@media @tablet {
			width: 100%;
		}

		@media @phone {
			width: 50%;
		}
	}

*/
.laptop-width {
  max-width: 1100px;
}
.tablet-width {
  max-width: 768px;
}
.phone-width {
  max-width: 400px;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: 'Titillium Web', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Bangers', cursive;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.container {
  width: 100%;
  max-width: 1100px;
  margin: auto;
}
@media (max-width: 1100px) {
  .container {
    max-width: 1100px;
    background: lightcoral;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 768px;
    background: lightgreen;
  }
}
@media (max-width: 400px) {
  .container {
    max-width: 400px;
    background: lightblue;
  }
}
