* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: 'Titillium Web', sans-serif;
  font-size: 62.5%;
  min-width: 340px;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Bangers', cursive;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.container {
  max-width: 880px;
  width: 100%;
  margin: auto;
}
@media (min-width: 1100px)  {
  .container {
    width: 880px;
    margin: auto;
  }
}
