/* Header Styles */
header .logo {
  float: left;
  margin: 28px 0 0 10px;
}
header nav ul {
  float: right;
  margin-top: 40px;
}
header nav ul li {
  display: inline;
  padding-right: 60px;
}
header nav ul li a {
  text-decoration: none;
  color: #b0b0b0;
}
header nav ul li a:hover {
  text-decoration: underline;
  color: #000;
}
header nav ul li:last-child {
  padding-right: 0;
}
