/*header*/
header {
  background: #1c1c1c;
  padding: 20px 20px;
  margin-bottom: 10px;
}
header:before,
header:after {
  content: "";
  display: table;
}
header:after {
  clear: both;
}
/* For IE 6/7 (trigger hasLayout) */
header {
  zoom: 1;
}
h1.logo a {
  color: #d8d8d8;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 22px;
  float: left;
  letter-spacing: 0.2em;
}
a.to_nav {
  float: right;
  color: #fff;
  background: #4e4e4e;
  text-decoration: none;
  padding: 0 10px;
  font-size: 12px;
  font-weight: bold;
  line-height: 22px;
  height: 22px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
a.to_nav:hover,
a.to_nav:focus {
  color: #1c1c1c;
  background: #ccc;
}
.logo {
  background: white;
}
