/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

html {
	font-size: 62.5%;
}

body{
	font-family: Titillium Web;
	
	
	

	
}

.home-content	{
	width: 80%;
	max-width: 1024;
	margin: 0 auto;
}
.content p {
	font-size: 1.6rem;
	padding:  0;
}

.content h2 {
	
	
}

.Contact-Section  {
	font-size:1.6rem;
}

header {

  	position: relative;
	height: 50px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;

	background: rgba(76,76,76,1);
	background: rgba(76,76,76,1);
	background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, 
	rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, 
	rgba(19,19,19,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76,76,76,1)), color-stop(12%, rgba(89,89,89,1)), color-stop(25%,
	 rgba(102,102,102,1)), color-stop(39%, rgba(71,71,71,1)), color-stop(50%, rgba(44,44,44,1)), color-stop(51%, rgba(0,0,0,1)), color-stop(60%,
	  rgba(17,17,17,1)), color-stop(76%, rgba(43,43,43,1)), color-stop(91%, rgba(28,28,28,1)), color-stop(100%, rgba(19,19,19,1)));
	background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%,
	 rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
	background: -o-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%,
	 rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
	background: -ms-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%,
	 rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
	background: linear-gradient(to bottom, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%,
	 rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 );


}
nav  {
	line-height: 36px;
	font-size: 1.4rem;
	display: flex;
	justify-content: space-between;
}

nav a {
	margin: 13px 35px 10px 5px;
	display: flex;
	justify-content: space-evenly;
	text-decoration: none;
	color: #b7b7b7;


	
}

header nav a:hover {

	background-color: rgba(255, 255, 255, 0.678) ;
	width: 60px;
	height: 51px;
	color: black;


	

  }

header .logo {
display: flex;

}

header .logo:hover {

}
.CTA h1 {
	text-align: center;
	font-size: 72px;
	display: flex;
	justify-content: center;
	align-self: inherit;


}
.header-img {
display:flex;
flex-wrap: nowrap;
width: 30%




}

button {
	
	background-color: white;
	border: 2px solid grey;
	height: 40px;
	width: 180px;
	font-family: Titillium Web;
	font-size: 16px;
	

}

button a {
	text-decoration: none;
	color: black;
}

.Upper-Content {
	position: relative;
	height: 100%;
	font-size: 1.6rem;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-content: space-between;
	padding-top: 20px;

}
.content .middle-img {




	padding: 40px 0 40px 0;
	



}
.Features {

	display: flex;
	flex-direction: column;
	margin: 0 40px 0 0;
	

}

.About {

	display: flex;
	flex-direction: column;

	
	

}

.Lower-Content {


	margin: 0 auto;
	padding: 0px 0px 40px 0px;
	margin-bottom: 20px;
	height: 100%;
	font-size: 1.6rem;

	display: flex;
	align-items: center;
	


}

.Services {

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0 40px 0 0;
	

}

.Product {

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 0 40px 0 0;
}
.Vision {

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.Contact-List {
	padding: 10px 0px 40px 0px;
	
}

footer {

	font-family: Titillium Web;
	font-size: 14px; 
	display: flex;
	justify-content: center;
	margin: 10px 0 60px 0;
	align-self: flex-end;

}

.CTA button{
	

}

.CTA {

    width: 400px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;

}

.Header-Container {
	display: flex;
	justify-content: space-evenly;
	margin: 50px 0 40px 0;



}

.content {
display: flex;	
flex-direction: column;

border-bottom: 1px solid black;
border-top: 1px solid black;
margin: 20px 0px;


}

.Contact-Section {

	
}


.header nav {
	display: flex;
	justify-content: space-evenly;
}