/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

/* My CSS */

html {
	font-size: 62.5%
}

body {
	/* padding: 36px; */
	/* display: flex;
	justify-content: center; */
}

img, h1 {
	/* animation: fadein;
	animation-duration: 5s; */
}

header nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 15px;
}

header nav a {
	text-decoration: none;
	color: lightgray;
	font-size: small;
}

hr {
	border: none;
	height: 2px;
	background-color: black;
	margin: 50px 0;
}

.footer {
	display: flex;
	justify-content: center;
	margin-top: 50px;
	font-size: 1.6em;
}

/* Index Page */

.index-page {
	max-width: 880px;
	/* margin: 20px 2.27% 0; */
	margin: 0 auto;
	/* margin: 36px; */
	/* display: flex;
	flex-direction: column;
	justify-content: space-between; */
}

.index-page .page {
	/* display: flex;
	flex-direction: column;
	justify-content: space-between; */
}

.index-page .page .header {
	display: flex;
	justify-content: space-evenly;
	margin: 50px auto;
}

.index-page .page .header .header-left {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: center; */
	/* height: 379px;
	width: 379px; */
	font-size: 8em;
}

.index-page .page .header .header-left button{
	display: block;
	font-size: 1.5rem;
	background-color: white;
	border: 1px solid black;
	text-align: center;
	text-decoration: none;
	padding: 7px 15%;
}

.index-page .page .header img {
	/* display: inline-block; */
}

.index-page .page .content {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.index-page .page .content .content-panel {
	display: flex;
	justify-content: space-between;
}

.index-page .page .content .content-panel {
	font-size: 1.6rem;
}

.index-page .page .content .content-panel .lg:not(:last-child) {
	padding-right: 2.19%;
}

.index-page .page .content .content-panel .sm:not(:last-child) {
	padding-right: 8%;
}

/* .index-page .page .content .content-panel .lg {
	margin-right: 10px;
} */

.index-page .page .content img {
	margin: 50px 0;
}

/* .index-page .page .content .content-panel .sm {
	margin-right: 10px;
} */

.index-page .page .contact {
	font-size: 1.6em;
}

/* Services Page */

.services-page {
}

.services-page .page hr {
	height: 1px;
}

.services-page .page hr:first-child {
	margin-bottom: 0;
}

.services-page .page hr:last-child {
	margin-top: 0;
}

.services-page .page .content-top {
	display: flex;
	flex-direction: column;
}

.services-page .page .content-top .content-top-text {
	margin-top: 20px;
}

/* .services-page .page * {
	margin: 10px 0;
} */

.services-page .page .content {
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
}

.services-page .page .content .content-box {
	width: 420px;
	border: 1px solid black;
	background-color: whitesmoke;
	padding: 15px;
	margin: 20px 0;
}

.services-page .page .content .content-box button {
	font-size: 1rem;
	background-color: white;
	border: 1px solid black;
	border-radius: 5px;
	padding: 10px 30px;
}

.services-page .page .content-bottom {
	display: flex;
	justify-content: space-between;
}

.services-page .page .content-bottom .content-bottom-text {
	width: 420px;
	height: 300px;
}

.services-page .page .content-bottom .content-bottom-text ul {
	list-style-type: square;
	list-style-position: inside;
}

/* Media Queries */

@media(max-width: 768px) {

	.index-page {
		padding: 30px 5% 0;
	}

	header nav {
		flex-wrap: wrap;
	}

	header nav a:last-child {
		order: -1;
		width: 100%;
		display: flex;
		justify-content: center;
		margin-bottom: 40px;
	}

	.index-page .page .header img {
		display: none;
	}
}

@media(max-width: 400px) {
	.index-page {
		margin: 0;
		padding: 0;
	}

	header nav {
		flex-wrap: wrap;
		flex-direction: column;
	}

	header nav a {
		border-bottom: 1px solid black;
		margin: 0;
		height: 65px;
		font-size: 2.5rem;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 15px 0;
	}

	header nav a:not(:last-child):hover {
		background-color: black;
		color: white;
	}

	header nav a:last-child {
		height: 85px;
		margin: 0 auto;
		border-top: 1px solid black;
	}

	.index-page .page {
		margin: 0 5.55%;
	}

	.index-page .page .content .content-panel {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.index-page .page .content .content-panel div {
		margin-bottom: 25px;
	}

	.index-page .page .content .content-panel .sm:last-child {
		margin-bottom: 0;
	}

	.index-page .page .content img {
		margin: 0 0 25px;
	}

	hr {
		margin-top: 25px;
		margin-bottom: 35px;
	}
}

/* CSS Animations */
	@keyframes fadein {
	    0% {
				opacity: 0;
			}

	    100% {
				opacity: 1;
			} */
