/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
    font-size: 62.5%;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */


.container {
	max-width: 880px;
	width: 100%;
	margin: 0 auto;
	position:relative;
}

.container .nav {
	background-color: teal;
	position: relative;
	width: 100%;
	padding: 5px 1%;
	z-index: 1000;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}


.nav a {
	font-family: 'Jua';
	text-decoration: none;
	font-size: 1.5rem;
	color: white;
}

.nav a:visited {
	text-decoration: none;
	color: white;
}

.nav .logo {
	width: 17rem;
}

.copyright {
	display: flex;
	justify-content: center;
	padding: 10px 1%;
	font-size: 1.5rem;
}



/* Index Page CSS */

/* Index Page Header CSS */

.home-content header {
	padding: 70px 0 0 0;
	display: flex;
	justify-content: center;
}

.home-content .title {
	text-align: center;
	padding-top: 100px;
	width: 50%;
	height: 500px;
}

.home-content .title .title-text {
	font-size: 6rem;
	text-align: center;
}

.home-content .title button {
	background-color: white;
    border: 1px solid;
    color: black;
    padding: 5px 10%;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    transition-duration: 0.4s;
}

.home-content .title button:hover {
	color: white;
	background-color: black;
}

.home-content .title button:focus {
	outline: 0;
}

.home-content .title .test {
	margin-left: 11.36%;
	margin-bottom: 100px;
}

.home-content .title-logo {
	height: 400px;
	width: 50%;
}

/* Index Page Main Content */

.home-content .main-content {
	display: flex;
	padding: 20px 0;
	flex-wrap: wrap;
	justify-content: center;
	font-size: 1.5rem;
}

.home-content .main-content .features {
	width: 50%;
	height: 80px;
	padding: 0 1% 0 0;
}

.home-content .main-content .about {
	width: 50%;
	height: 80px;
	padding: 0 0 0 1%;
}

.home-content .main-content .middle-img {
	padding: 30px 0;
	width: 100%;
}

.home-content .main-content .services {
	width: 33.33%;
	height: 110px;
	padding: 0 1% 0 0;
}

.home-content .main-content .product {
	width: 33.33%;
	height: 110px;
	padding: 0 1% 0 1%;
}

.home-content .main-content .vision {
	width: 33.33%;
	height: 110px;
	padding: 0 0 0 1%;
}

.home-content .contact-info-container {
	display: flex;
	width: 20%;
	padding: 20px 0;
	font-size: 1.5rem;
}

/* Services Page Specific CSS */

/* Header */
.services-content header {
	display: flex;
	flex-wrap: wrap;
}

.services-content header .services-header {
	width: 100%;
	padding: 0px 50px 20px 50px;
}

.services-content header .header-img {
	padding-top: 80px;
}

.services-content header .header-content h1 {
	font-size: 24px;
}

/* Main Content */

.services-content .services-main-content {
	display: flex;
	flex-wrap: wrap;
	margin-left: 50px;
	margin-right: 50px;
	padding: 20px 0px 20px 0px;
}

.services-content .services-main-content .main-box {
	background-color: lightgrey;
	border: 1px solid black;
	height: 200px;
	width: 45%;
	padding: 20px;
	margin: 10px 2.5%;
}

.services-content .services-main-content button {
	background-color: white;
    border: 1px solid;
    color: black;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    transition-duration: 0.4s;
    border-radius: 4px;
}

.services-content .services-main-content button:hover {
	color: white;
	background-color: black;
}

.services-content .services-main-content button:focus {
	outline: 0;
}

.services-content .end {
	display: flex;
	margin-left: 50px;
	margin-right: 50px;
}

.services-content .services-facts {
	width:50%;
	padding: 20px 20px 20px 0;
	line-height: 1.2;
}

.services-content .services-facts ul {
	list-style-type: square;
	list-style-position: inside;
	line-height: 1.6;
}

.services-content .services-facts-image {
	display: inline-block;
	margin: 5px 0px 5px 20px;
	width: 50%;
	height:300px;
}


/* Products Page CSS */

.products-content header {
	display: flex;
	flex-wrap: wrap;
}

.products-content header .products-header {
	width: 100%;
	padding: 80px 50px 20px 50px;
}

.products-content header .header-content h1 {
	font-size: 24px;
}

.products-content .products-main-content {
	display:flex;
	justify-content: center;
	flex-wrap: wrap;
}

.products-content .products-main-content .product-box {
	width:100%;
	margin-left: 50px;
	margin-right: 50px;
	border: 1px black solid;
	display: flex;
	margin-top:5px;
}

.products-content .products-main-content .product-box img{
	width: 300px;
	height: 250px;
	padding: 10px;
}

.products-content .products-main-content .product-box .product-box-content {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	height: 250px;
}

.products-content .products-main-content .product-box button {
	background-color: white;
    border: 1px solid;
    color: black;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    transition-duration: 0.4s;
    border-radius: 4px;
    align-self: flex-end;
    margin-right: 10px;
    margin-top: 120px;
}

.products-content .products-main-content .product-box button:hover {
	color: white;
	background-color: black;
}

.products-content .products-main-content .product-box button:focus {
	outline: 0;
}

.products-content .end {
	display:flex;
	justify-content: center;
}

.products-content .end .products-facts {
	width:50%;
}

.products-content .end .products-facts-image {
	width:; 50%;
}

.products-content .end .products-facts ul {
	list-style-type: disc;
	list-style-position: inside;
	line-height: 1.6;
}

@media (max-width: 768px) {
	.container {
	  max-width: 400px;
	}
}

@media (max-width: 400px) {
	.container {
	  max-width: 400px;
	}
}