/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}


/* My code */

a {
	color: rgb(87, 88, 90);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

body {
	background: black;
}

button {
	background: black;
	color: white;
	display: block;
	margin: 0 auto;
	padding: 2% 10% 2% 10%;
	border: 1.5px solid lightslategray;
	font-size: 100%;
	transition-duration: .5s;
}

button:hover {
	background: lightslategray;}

footer {
	color: white;
	font-size: 90%;
	margin-top: 5%;
    text-align: center;
}

header {
	margin: 10% auto;
}

hr {
	margin: 5%;
}

h1 {
	color: darkcyan;
	font-size: 400%;
	text-align: center;
}

h3 {
	color: darkcyan;
}

h3, section {
	font-size: 110%;
	margin: 1%;
}

nav {
	align-items: center;
	background: lightyellow;
	display: flex;
	font-family: 'Sunflower';
	height: 3.5%;
	justify-content: space-around;
	overflow: hidden;
	padding-bottom: 1%;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

/* nav a {
	margin: 0 4%;
} */

p {
	color: darkgray;
}

.bottom-content {
	display: flex;
	margin: 3% 4% 0;
}

.center {
	background-image: url(../img/mid-page-accent.jpg);
	background-size: cover;
	padding: 2%;
}

.contact-info {
	padding-left: 5%;
}

.contact-info p {
	color: white;
}

.heading {
	background-image: url(../img/header-img.png);
	background-size: cover;
}

.lorem {
	margin: 1%;
}

.main-content {
	display: flex;
	margin: 0 4%;
	text-align: left;
}

.middle-img {
	display: block;
	margin: 0 auto;
	width: 90%;
}

.small-heading {
	color: darkcyan;
    text-align: center;
}

.top-content {
	display: flex;
	margin: 0 4%;
}

.top-img {
	display: block;
	margin: 4% 5% 0;
	width: 90%;
}

#opener {
	color: palevioletred;
    position: relative;
    top: 9%;
}

#services button {
	border-radius: 4px;
	color: lightgray;
	font-size: 60%;
	margin: 3% 0 0 2%;
}

#services h1 {
	font-size: 150%;
	text-align: left;
}

#services ul {
	color: darkgray;
	list-style-type: square;
	margin-left: 4%;
}

#services ul li {
	margin-bottom: 2%;
}

#services .bottom {
	align-items: center;
	display: flex;
}

#services .content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 5%;
}

#services .content section {
	border: 1px solid white;
	margin-bottom: 1.5%;
	margin-top: 1.5%;
	padding: 2%;
	width: 45%;
}

#services .facts {
	margin: 0 5%;
	width: 45%;
}

#services .facts section {
	margin-bottom: 3%;
	margin-right: 5%;
}

#services .info-img {
	margin-right: 5%;
	width: 400px;
}

#services .intro {
	margin: 2% 5% 0;
}