/* Use your CSS from RWD - I here.  IF you don't have CSS, use the solution CSS from RWD - I*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-size: 62.5%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.container {
    max-width: 880px;
    margin: auto;
}

/* Header Styles */

header {
    width: 100%;
    display: flex;
}

header nav {
    margin-top: 4.545%; 
    width: 69.3181%;
    justify-content: space-between;
    display: flex;
}

header nav a {
    text-decoration: none;
    color: #b0b0b0;
}

header nav a:hover {
    text-decoration: underline;
    color: black;
}

header .logo {
    margin: 2.8% 0 0 9.1%;
}

/* Call To Action (CTA) Styles */

.cta {
    display: flex;
    margin-top: 8.18181%;
    justify-content: flex-end;
}

.cta .cta-text {
    font-size: 4.5rem;
    text-align: center;
    letter-spacing: 5px;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    margin: 0 8.2% 0 0;
}

.cta .cta-text button {
    border: 1px double black;
    font-size: 1rem;
    background: white;
    width: 77.3181%;
    height: 10.2%;
    margin-top: 7.5%;
    cursor: pointer;
}

.cta .cta-text button:hover {
    background: black;
    color: white;
}

/* Main Content Styles */

.main-content {
   border-top: 2px solid black; 
   border-bottom: 2px solid black;
   margin: 7.5% 0 3.5% 0;
   padding: 3.5% 0;
   font-size: 1rem;
   line-height: 18px;
}

.main-content .top-content {
    display: flex;
}

.main-content .middle-img {
    display: block;
    margin: 3.11% auto;
}

.main-content .bottom-content {
    display: flex;
}

.main-content .bottom-content p {
    padding-right: 2.0%;
}

/* Contact Styles */

.contact p {
    margin: 1.5% 0;
}

/* Footer Styles */

footer {
    text-align: center;
    margin: 4.0% 0 2.0%;
}

/* Tablet */
@media (max-width: 800px) {

    .container {
        width: 100%;
    }

    header {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
  
    header nav {
        width: 96%;
        padding: 0 3.0%;
    }

    header .logo {
        order: -1;
        display: block;
        margin: 3.0% 0px auto 0;
    }

    .cta {
        justify-content: center;
    }
    
    .cta .cta-text {
        margin: 0;
    }

    .cta img {
        display: none;
    }

    .main-content .middle-img {
       width: 100%;
    }

    .main-content {
       margin: 7.5% 2.0% 3.5%;
    }

    .text-content {
        margin: 0 1.1%;
    }

    .contact {
        margin: 0 3.3%;
    }
}

/* Phone */
@media (max-width: 500px) {

    header {
        justify-content: center;
    }

    header nav {
        width: 100%;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    header nav a {
        width: 100%;
        display: block;
        text-align: center;
        padding: 2.0% 0;
        font-size: 1.25rem;
        border-bottom: 1px solid gray;
    }

    header nav a:first-child {
        border-top: 1px solid gray;
    }

    header nav a:hover {
        background: gray;
    }

    header .logo {
        margin: 2.0% 0;
    }

    .cta {
        margin-top: 10%;
        flex-flow: column;
        align-items: center;
    }

    .cta img {
        max-width: 80%;
    }

    .main-content .top-content {
        justify-content: space-around;
        flex-direction: column;
        height: 30%;
    }

    .main-content .bottom-content {
        flex-wrap: wrap;
        align-content: space-between;
        height: 44%;
    }

    .text-content {
        margin: 0;
    }

    .contact {
        margin: 2.0%;
    }
}
