/* Use your CSS from RWD - I here.  IF you don't have CSS, use the solution CSS from RWD - I*/

/* RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

/* RESET */

html {
    font-size: 62.5%;
}
.Main {
    width: 100.00%;
    max-width: 2000px;
    display: flex;
    justify-content: center;
}
.Main2 {
    display:flex;
    flex-direction:column;
    align-items: center;
    width: 100.00%;
    max-width: 880px;
}

header {
    display:flex;
    margin: 20px 0px;
    width: 90.91%;
    max-width:800px;
    align-items: center;
    justify-content: space-between;
}

nav {
    display:flex;
    width: 75.00%;
    max-width: 600px;
    justify-content: space-between;
}

.Sec1 {
    width:100%;
    max-width: 880px;
    display:flex;
    align-items: center;
    justify-content: space-around;
    margin: 60px 0px;
}

.Sec1s1 {
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-direction:column;
    height: 200px;
}

.s1 {
    display:flex;
    flex-direction:column;
    width: 44.38%;
    max-width: 355px;
    height: 140px;
    justify-content: space-between;
}

.Sec2 {
    width: 100.00%;
    max-width:880px;
    display:flex;
    flex-direction:column;
    padding: 35px 0px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    align-items: center;
}

.Sec2s1 {
    display:flex;
    width: 90.91%;
    max-width: 800px;
    justify-content: space-between;
    align-items: center;
}


.s2 {
    display:flex;
    flex-direction:column;
    max-width: 225px;
    justify-content: space-between;
}

footer {
    width: 90.91%;
    max-width: 800px;
    height: 200px;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    margin-top: 35px;
}

a {
    text-decoration: none;
    color: gray;
}

nav a {
    font-size: 2.1rem;
}

header img {
    width:150px;
}

h1 {
    font-size: 4rem;
    text-align: center;
}

.Sec1 a {
    text-align: center;
    font-size: 2.7rem;
    padding: 10px 3%;
    border: 2px solid gray;
}

.s1 p {
    font-size: 1.9rem;
    max-width: 355px;
    width: 100%;
}

.Sec2 img {
    width: 100%;
    max-width: 880px;
    margin: 80px 0px 40px 0px;
}

.Sec2s2 {
    height: 225px;
    width: 90.91%;
    max-width: 800px;
    display:flex;
    justify-content: space-between;
}

.s2 p {
    font-size: 1.9rem;
    width: 100%;
    max-width: 225px;
}

address {
    font-size: 1.9rem;
    line-height: 1.25;
}

.Copyright {
    font-size: 1.6rem;
    align-self: center;
    margin: 50px 0px 10px;
}

h2 {
    margin-bottom:30px;
    font-size: 3rem;
    height: 10px;
}

p {
    line-height: 1.25;
}

@media (max-width:800px) {

    .Main {
        max-width:100%;
        width: 800px;
    }

    .Main2 {
        display:flex;
        flex-direction:column;
        align-items: center;
        width: 100%;
        max-width: 800px;
    }

    .Sec1 {
        width: 90.00%;
        max-width: 720px;
    }

    .Sec1 img {
        display: none;
    }

    header {
        width: 90%;
        max-width:720px;
        flex-direction: column;
        height: 100px;
        justify-content: space-around;
        align-items: center;
    }

    nav {
        width:100%;
        max-width: 720px;
        order:1;
    }
    
    header img {
        order:0;
        width: 200px;
    }

    .Sec2 {
        padding:0px 0px;
        width: 100%;
        max-width: 800px;

    }

    .Sec2 img {
        width: 100%;
        max-width: 800px;
        margin: 30px 0px;
    }

    .Sec2s1 {
        width: 90.00%;
        max-width: 720px;
        display:flex;
        height:250px;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 30px;
    }

    
    .Sec2s2 {
        width: 90.00%;
        height: 480px;
        max-width: 720px;
        display:flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .s1 p {
    font-size: 1.9rem;
    width: 100.00%;
    max-width: 325px;
}

.s2 p {
    font-size: 1.9rem;
    width: 100%;
    max-width: 190px;
}

    .s1 {
    display:flex;
    width: 45.14%;
    max-width: 325px;
    flex-direction:column;
    height: 180px;
    align-items: space-between;
    justify-content: space-between;
    }

    .s2 {
        display:flex;
        width: 26.39%;
        max-width: 190px;
        flex-direction:column;
        height: 250px;
        align-items: space-between;
        justify-content: space-between;
        }
    
        footer {
            width: 90.00%;
            max-width: 720px;
        }
}

/* New Media Query */


@media (max-width:500px) {

    .Main {
        width: 100%;
        max-width: 500px;
    }

    .Main2 {
        display:flex;
        flex-direction:column;
        align-items: center;
        width: 100%;
        max-width: 500px;
    }

    .Sec1 {
        justify-content: space-between;
        align-items: center;
        margin-top: 140px;
        width: 84%;
        max-width: 420px;
        height: 300px;
    }

    header {
        margin: 0px;
        flex-direction: column;
        height: 500px;
        width: 100%;
        max-width: 500px;
        justify-content: space-around;
        align-items: center;
    }

    nav {
        text-align: center;
        flex-direction: column;
        width: 100%;
        max-width: 500px;
        order:1;
    }

    nav a {
        font-size: 4rem;
        padding: 20px 4%;
        border-top: 2px solid gray;

    }
    .Connect {
        border-bottom: 2px solid gray;
    }
    
    header img {
        height: 100px;
        order:0;
        width: 100%;
        max-width: 300px;
        padding: 20px 4%;
        align-self: center;
    }

    h1 {
        font-size: 5.4rem;
        text-align: center;
    }

    .Sec1s1 {
        display:flex;
        align-items: center;
        justify-content: space-around;
        flex-direction:column;
        width: 100%;
        max-width: 420px;
        height: 300px;
    }

    .Sec1 a {
        text-align: center;
        font-size: 2.7rem;
        padding: 10px 4.76%;
        border: 2px solid gray;
    }

    .Sec2 {
        width: 100%;
        max-width: 500px;
        padding: 20px 0px 60px 0px;
    }

    .Sec2 img {
        width: 100%;
        max-width: 500px;
        margin: 10px 0px 40px 0px;
       }

    .Sec2s1 {

        width: 84%;
        max-width: 420px;
        display:flex;
        flex-direction:column;
        height:375px;
        justify-content: space-between;
    }

    
    .Sec2s2 {
        height: 525px;
        width: 84%;
        max-width: 420px;
        display:flex;
        flex-direction:column;
        justify-content: space-between;
    }

  
    .s1 p {
    font-size: 14pt;
    width: 100%;
    height: 125px;
    max-width: 400px;
    padding-bottom: 100px;


}

.s2 p {
    font-size: 1.9rem;
    width: 100%;
    max-width: 400px;
    margin-bottom: 40px;

}

    .s1 {
    display:flex;
    width: 100%;
    max-width: 400px;
    flex-direction:column;
    height: 120px;
    align-items: space-between;
    justify-content: flex-end;
    margin: 30px 0px;
    }

    .s2 {
        display:flex;
        width: 100%;
        max-width: 400px;
        flex-direction:column;
        height: 135px;
        align-items: space-between;
        justify-content: space-between;
        }
    
        h2 {
            font-size: 2.7rem;
        }
        
        footer {
            width: 84%;
            max-width: 420px;        }
    }