/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*

	Example usage:

	.some-element {
		@media @tablet {
			width: 100%;
		}

		@media @phone {
			width: 50%;
		}
	}

*/
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: 'Titillium Web', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Bangers', cursive;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.container {
  width: 880px;
  margin: auto;
}
header {
  width: 100%;
  display: flex;
}
header nav ul {
  margin-top: 40px;
  width: 610px;
  justify-content: space-between;
  display: flex;
}
header nav ul li a {
  text-decoration: none;
  color: #b0b0b0;
}
header nav ul li a:hover {
  text-decoration: underline;
  color: black;
}
header .logo {
  align-self: flex-end;
  margin: 28px 0 0 91px;
}
/* Call To Action (CTA) Styles */
.cta {
  display: flex;
  margin-top: 72px;
  justify-content: flex-end;
}
.cta .cta-text {
  font-size: 72px;
  text-align: center;
  letter-spacing: 5px;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  margin: 0 82px 0 0;
}
.cta .cta-text button {
  border: 1px double black;
  font-size: 16px;
  background: white;
  width: 170px;
  height: 32px;
  margin-top: 10px;
  cursor: pointer;
}
.cta .cta-text button:hover {
  background: black;
  color: white;
}
/* Main Content Styles */
.main-content {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin: 75px 0 35px 0;
  padding: 35px 0;
  font-size: 16px;
  line-height: 18px;
}
.main-content .top-content {
  display: flex;
  justify-content: space-around;
}
.main-content .middle-img {
  display: block;
  margin: 30px auto;
}
.main-content .bottom-content {
  display: flex;
  justify-content: space-around;
}
.main-content .bottom-content p {
  padding-right: 20px;
}
/* Contact Styles */
.contact p {
  margin: 40px 0;
}
/* Footer Styles */
footer {
  text-align: center;
  margin: 40px 0 20px;
}
html,
body {
  height: 100%;
  max-width: 1200px;
  width: 100%;
  font-size: 62.5%;
}
.container {
  width: 100%;
  max-width: 880px;
  margin: auto;
}
nav {
  font-size: 1.5rem;
}
.contact {
  font-size: 1.5rem;
  width: 100%;
  padding: 0%;
  text-align: center;
}
footer {
  font-size: 1.5rem;
}
@media (max-width: 1100px) {
  .main-header {
    display: flex;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .logo {
    display: none;
  }
  .cta-text {
    width: 91.6%;
    padding-left: 10%;
  }
  .cta-text h1 {
    align-items: center;
    color: white;
    height: 379px;
    width: 379px;
    font-size: 6rem;
    padding-top: 12.5%;
    background-image: url("../img/header-img.png");
    background-repeat: no-repeat;
    background-position-x: 50%;
  }
  .circle {
    display: none;
  }
}
@media (max-width: 900px) {
  .top-content {
    justify-content: center;
    flex-direction: column;
  }
  .bottom-content {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .container {
    align-self: center;
  }
  .cta {
    width: 100%;
  }
  .top-content {
    flex-direction: column;
    text-align: center;
    width: 100%;
    justify-content: space-around;
  }
  .middle-img {
    width: 100%;
    justify-content: flex-start;
  }
  .middle-img img {
    width: 100%;
    height: 100%;
  }
  .text-content {
    font-size: 1.5rem;
    width: 100%;
    padding: 2.5%;
  }
  .bottom-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 50px;
    margin-top: 0px;
  }
}
@media (max-width: 640px) {
  nav {
    width: 100%;
  }
  nav ul {
    padding-left: 4.3%;
    width: inherit;
  }
}
@media (max-width: 400px) {
  .text-content {
    font-size: 2rem;
  }
}
