/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%; /*Double check if this is the correct spot. Previously was 100%*/
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.container {
    width: 880px;
    margin: auto;
}

/* Header Styles */

header {
    width: 100%;
    display: flex;
}

header nav {
    margin-top: 40px; 
    width: 610px;
    justify-content: space-between;
    display: flex;
}

header nav a {
    text-decoration: none;
    color: #b0b0b0;
}

header nav a:hover {
    text-decoration: underline;
    color: black;
}

header .logo {
    align-self: flex-end;
    margin: 28px 0 0 91px;
}

/* Call To Action (CTA) Styles */

.cta {
    display: flex;
    margin-top: 72px;
    justify-content: flex-end;
}

.cta .cta-text {
    font-size: 72px;
    text-align: center;
    letter-spacing: 5px;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    margin: 0 82px 0 0;
}

.cta .cta-text button {
    border: 1px double black;
    font-size: 16px;
    background: white;
    width: 170px;
    height: 32px;
    margin-top: 10px;
    cursor: pointer;
}

.cta .cta-text button:hover {
    background: black;
    color: white;
}

/* Main Content Styles */

.main-content {
   border-top: 2px solid black; 
   border-bottom: 2px solid black;
   margin: 75px 0 35px 0;
   padding: 35px 0;
   font-size: 16px;
   line-height: 18px;
}

.main-content .top-content {
    display: flex;
    justify-content: space-around;
}

.main-content .middle-img {
    display: block;
    margin: 30px auto;
}

.main-content .bottom-content {
    display: flex;
    justify-content: space-around;
}

.main-content .bottom-content p {
    padding-right: 20px;
}

/* Contact Styles */

.contact p {
    margin: 15px 0;
}

/* Footer Styles */

footer {
    text-align: center;
    margin: 40px 0 20px;
}

/*########################################################  TABLET #####################################################*/
@media (max-width: 768px) {
   
    .container{
        max-width: 100%;
    }
   
    header nav {
        width: 450px;
        justify-content: space-around;
    }
   
    header .logo {
        margin: 28px 0 0 76px;
    }
   
    .cta {
        justify-content: center;
    }
   
    .cta .cta-text {
        font-size: 62px;
    }
   
    .main-content {
        padding: 19px 19px;
        width: 100%;
     }
   
     .main-content .middle-img {
        width: 100%;
    }
   
    .contact {
        padding: 35px 19px;
    }
}

/*########################################################  PHONE  #####################################################*/

@media (max-width: 400px) {
    
    .container {
        max-width: 100%;
    }
    header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
    }
   
    header nav {
        justify-content: space-around;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header nav a {
        border-bottom: 1px solid #b0b0b0;
        width: 100%;
        text-align: center;
        padding: 20px 0;
    }

    header nav .a1 {
        border-top: 1px solid #b0b0b0;
    }

    header .logo {
        order: -1;
        margin-left: 120px;   /* see if this can be adjusted some other way*/
    }
   
    .cta {
        display: flex;
        flex-direction: column;
        margin-top: 72px;
    }
    
    .cta .cta-text {
        margin: 0 3px 0 0;
    }
    
    .cta img {
        width: 75%;
        margin-top: 40px;
        align-self: center;
    }
    
    .main-content {
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        width: 95%;
        margin-left: 10px;
    }
   
    .main-content .top-content {
        flex-direction: column;
        margin-top: 10px;
    }
   
    .main-content .top-content .text-content {
        margin-bottom: 15px;
    }
   
    .main-content .bottom-content {
        flex-direction: column;
    }
   
    .main-content .bottom-content .text-content {
        margin-bottom: 15px;
    }
}