/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
}

body {	
	font-family: 'Titillium Web', sans-serif;
}



h1,
h2,
h3,
h4,
h5 {
	font-family: 'Bangers', cursive;
	letter-spacing: 1px;
	margin-bottom: 15px;
}

/* Your code starts here! */
html {
  font-size: 62.5%;
}


.wrapper {
  width: 100%;
  max-width: 880px;
  padding: 2%;
  height: 100%;
  margin: 0 auto;
}


p,
button {
	border-radius: 15px;
}

header {
	padding: 1% 0;
	background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  /* width: 68%; */
}

header nav a {
	text-decoration: none;
	color: rgba(211, 211, 211, 0.877);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  margin-right: 17%;
}

header nav a:last-child {
  margin-right: 0;
}

.hero {
  border-bottom: 3px solid rgba(0, 0, 0, 0.521);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.hero .left {
	width: 60%;
	text-align: center;
}

.hero h1 {
	font-size: 7rem;
}

.hero img {
  margin: 8% 0;
}


.hero button {
	background-color: white;
	padding: 1.7% 11%;
	border: 1px solid gray;
	box-shadow: 0 1px 2px black;
	animation: wiggle 1s infinite;
	transition: all 0.8s ease;
}


main {
  padding: 4% 0;
  font-size: 1.6rem;
	width: 100%;
  overflow: hidden;
  border-bottom: 3px solid rgba(0, 0, 0, 0.521);
}

.img-divider {
	background-image: url(../img/mid-page-accent.jpg);
	max-width: 99%;
	background-size: cover;
  margin: 4% 0;
  margin-bottom: 3%;
}

.two-col,
.three-col {
	display: flex;
	flex-wrap: wrap;
  justify-content: space-between;
  /* line-height: 1.3; */
}

main .card-2 {
  width: 48%;
}

main .card-3 {
  margin-top: 1.8%;
  margin-bottom: 1.3%;
	width: 31%;
}


footer {
  margin-top: 4%;
  font-size: 1.6rem;
}

footer p {
	margin-bottom: 3%;
}

footer p:last-child {
  text-align: center;
  margin-bottom: 0;
}

address {
	margin-bottom: 2%;
}


@media (max-width: 800px) {
      .wrapper {
        padding: 0 3%;
      }

      header  {
        max-width: 800px;
        flex-direction: column-reverse;
        padding-top: 4%;
      }

      header .logo {
        margin-bottom: 20%;
      }
      
      header nav {
        width: 100%;
        justify-content: space-between;
      }

      header nav a {
        margin: 0;
      }

      .hero {
        justify-content: center; 
      }

      .hero h1 {
        font-size: 7rem; 
        margin: 15% 0 7% 0;   
      }



      .hero img {
        display: none;
      }

      .hero button {
        margin-bottom: 16%;
      }

      main {
        line-height: 1.5;
      }



      main .card-2 {
        font-size: 1.5rem;
        margin-bottom: 3%;
      }

      main .img-divider {
        margin-top: 2%;
        margin-bottom: 1%;
      }

      main .card-3 {
        font-size: 1.5rem;
      }

      footer {
        margin-bottom: 0;
      }

      footer p:last-child {
        margin-top: 3%;
        margin-bottom: 3%;
      }

}

@media (max-width: 500px) {
  .wrapper {
    padding: 0;
  }

  header {
    padding: 0;
  }

  header img.logo {
    margin: 8% ;
    margin-bottom: 8%;
  }

  header nav {
    flex-direction: column;
    align-items: center;
  }

  header nav a {
    text-align: center;
    width: 100%;
    font-size: 2rem;
    padding: 4% 0;
    border-bottom: 1px solid #000;
    
  }

  header nav a:first-child {
    border-top: 1px solid #000;
  }

 
   section .hero {

   }
  .hero {
    width: 100%;
    margin: 3% 0 10% 0;
    padding: 1% 0;
  }
  
  .hero h1 {
      font-size: 7.5rem;
  }

  .hero button {
    margin-bottom: 27%;
  }
  
  main {
    padding: 0 1%;
    width: 100%;
    /* margin: 0 1%;   */
    line-height: 1.2;   
    overflow: hidden;
  }

  main .card-2,
  main .card-3 {
    width: 100%;
    padding: 2%;
    font-size: 1.6rem;
    margin-bottom: 5%;
  }

  .img-divider {
    width: 98%;
    margin: 0 auto;
    padding: 0 2%;
  }

  main .card-3 {
    margin-bottom: 6%;
  }

  footer {
    padding: 2% 3%;
  }

 

  footer p:last-child {
    padding: 2% 0 0;
    margin-top: 8%;
    margin-bottom: 2%;
  }


}


.card-2 span {
	vertical-align: super;
	font-size: 1rem;
}


header .image.logo {
	background-image: url(../img/logo.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 16rem;
	margin: 1% 0 0 10%;
}

section.hero .hero-img {
	background-image: url(../img/header-img.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 35%;
	height: 35%;
}



@keyframes wiggle {
	0% {
		transform: rotate(0deg);
	}

	80% {
		transform: rotate(0deg);
	}

	85% {
		transform: rotate(5deg);
	}

	95% {
		transform: rotate(-5deg);
	}

	100% {
		transform: rotate(0deg);
	}
}




.services {
	line-height: 1.25;
}

.services .wrapper {
  padding-left: 0;
  padding-right: 0;
}

.services header nav a {
  margin-right: 20%;
}


.services h1 {
  font-size: 2.6rem;
  margin-bottom: 1%;
}

.services p {
  font-size: 1.6rem;
  margin-bottom: 2.3%;
}

.services-hero {
	width: 100%;
	overflow: hidden;
	padding: 1% 0 2%;
	border-bottom: 1px solid gray;
  margin-bottom: 3%;
}

.services-hero img {
	margin-bottom: 3%;
}

.services-cards-section {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
  margin-bottom: 3%;
  padding-bottom: 2.5%;
	border-bottom: 2px solid gray;
}

.services-card {
	border: 1px solid gray;
	padding: 2%;
	background: #f4f3f4;
  margin: 2.5% 0;  
	width: 48%;
}



.services-card h2 {
	font-size: 1.7rem;
}

.services-card p {
	margin-bottom: 20px;
}


.services-facts {
  display: flex;
  font-size: 1.6rem;
  justify-content: space-between;
}

.services-facts__left {
	width: 48%;
	padding: 1.8% 3% 0 0;
}

.services-facts__left p {
	margin-bottom: 7%;
}


.services-facts__left ul li {
  margin: 0 0 2.5% 5%;
	list-style: square;
	padding-left: 2%;
}

.services-facts img {
  width: 48%;
  margin-top: 2%;
  
  border: 8px double teal;
  box-shadow: -2px 2px 8px rgba(20, 117, 112, 0.4)
}

.services footer {
	text-align: center;
	margin: 10% auto 1%;
}


@media (max-width: 800px) {
  .services header nav {
    justify-content: space-around;
  }

.services header nav a {
  margin-right: 5%;
}

.services header nav a:last-child {
  margin-right: 0;
}

.services-hero h1, 
.services-hero p {
  padding: 2%;
}

.services-cards-section {
  padding: 2%;
}

.services-facts {
  flex-direction: column;
  padding: 2%;
}

.services-facts__left {
  width: 100%;
}

  .services-facts img {
    width:60%;
    margin: 2% auto 0;
  }
}

/* cool gleaming button efftect using transitions, hover psuedo classes and psuedo courtesy of https://codepen.io/css-tricks/pen/mqAHt */

.services-card button {
  border-top: 1px solid #96d1f8;
  background: #65a9d7;
  background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
  background: -moz-linear-gradient(top, #3e779d, #65a9d7);
  padding: 2% 10%;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: white;
  font-size: 1.4rem;
  text-decoration: none;
  vertical-align: middle;
  
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.services-card button:before {
  content: "";
  width: 200%;
  height: 200%;
  position: absolute;
  top: -200%;
  left: -225%;

  background-image: -webkit-linear-gradient(135deg, rgba(255,255,255,0), rgba(255,255,255,0.6), rgba(255,255,255,0)); 
  background-image: -moz-linear-gradient(135deg, rgba(255,255,255,0), rgba(255,255,255,0.6), rgba(255,255,255,0));  
   
    -moz-transition: all 0.5s ease-out; 
      -o-transition: all 0.5s ease-out; 
 -webkit-transition: all 0.5s ease-out;
     -ms-transition: all 0.5s ease-out;
}

.services-card button:hover:before {
 top: 200%;
 left: 200%;   
}

@media (max-width: 500px) {
  .services header nav a{
    margin: 0;
  }

  .services-hero {
    margin: 6% 2% 2%;
    width: 95%;
  }

  .services-hero img {
    display: none;
  }

  services-cards-section {
    flex-direction: column;
  }

  .services-card {
    width: 95%;
    margin: 3% auto;
  }

  .services-facts__left {
    width:100%;
    padding: 20px;
  }
  .services-facts img {
    width: 100%;
  }
}