/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

html {
	font-size: 62.5%;
}

body{
	font-family: Titillium Web;
	
	
	

	
}

.home-content	{
	padding: 0 10%;
	max-width: 1024px;
	margin: 0 auto;

}
.content p {
	font-size: 1.6rem;
	padding:  0;
}

.content h2 {
	
	
}

.Contact-Section  {
	font-size:1.6rem;
}

header {

  	position: relative;
	height: 50px; 
	
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	min-width: 100%;
	margin: 0 -74px;
	padding: 0 0%;

	background: rgba(76,76,76,1);
	background: rgba(76,76,76,1);
	background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, 
	rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, 
	rgba(19,19,19,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76,76,76,1)), color-stop(12%, rgba(89,89,89,1)), color-stop(25%,
	 rgba(102,102,102,1)), color-stop(39%, rgba(71,71,71,1)), color-stop(50%, rgba(44,44,44,1)), color-stop(51%, rgba(0,0,0,1)), color-stop(60%,
	  rgba(17,17,17,1)), color-stop(76%, rgba(43,43,43,1)), color-stop(91%, rgba(28,28,28,1)), color-stop(100%, rgba(19,19,19,1)));
	background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%,
	 rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
	background: -o-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%,
	 rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
	background: -ms-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%,
	 rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
	background: linear-gradient(to bottom, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%,
	 rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 );


}
nav  {
	line-height: 36px;
	font-size: 1.4rem;
	display: flex;
	justify-content: space-between;
}

nav a {
	margin: 13px 35px 10px 5px;
	display: flex;
	justify-content: space-evenly;
	text-decoration: none;
	color: #b7b7b7;


	
}

header nav a:hover {

	background-color: rgba(255, 255, 255, 0.678) ;
	
	
	height: 50px;
	color: black;


	

  }

header .logo {
display: flex;

}

header .logo:hover {

}
.CTA h1 {
	text-align: center;
	font-size: 7.2rem;
	display: flex;
	justify-content: center;
	align-self: inherit;


}
.header-img {
display:flex;
flex-wrap: nowrap;







}

button {
	
	background-color: white;
	border: 2px solid grey;
	height: 40px;
	width: 180px;
	font-family: Titillium Web;
	font-size: 16px;
	

}

button a {
	text-decoration: none;
	color: black;
}

.Upper-Content {
	position: relative;
	height: 100%;
	font-size: 1.6rem;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-content: space-between;
	padding-top: 40px;

}
.content .middle-img {
	width: 100%;
	height: 100%;
	padding: 40px 0 40px 0;
	



}
.Features {

	display: flex;
	flex-direction: column;
	margin: 0 40px 0 0;
	

}

.About {

	display: flex;
	flex-direction: column;

	
	

}

.Lower-Content {


	margin: 0 auto;
	padding: 0px 0px 40px 0px;
	height: 100%;
	font-size: 1.6rem;

	display: flex;
	align-items: center;
	


}

.Services {

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0 40px 0 0;
	

}

.Product {

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 0 40px 0 0;
}
.Vision {

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.Contact-List {
	padding: 10px 0px 40px 0px;
	
}

footer {

	font-family: Titillium Web;
	font-size: 1.4rem; 
	display: flex;
	justify-content: center;
	margin: 10px 0 60px 0;
	align-self: flex-end;

}

.CTA button{
	

}

.CTA {

    width: 400px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;

}

.Header-Container {
	display: flex;
	justify-content: space-evenly;

	margin: 50px 0 40px 0;



}

.content {
display: flex;	
flex-direction: column;

border-bottom: 1px solid black;
border-top: 1px solid black;
margin: 0 auto;


}

.Contact-Section {

	
}


.header nav {
	display: flex;
	justify-content: space-evenly;
}

img.logo-original {
	display: none
}5
.Contact-Section {
	margin-top: 30px;
}



@media (max-width: 768px) {
	* {

	}
	.home-content {
		margin: 0 auto;
	}
	.header-img {
		display: none;
	}
	header {
	background:	none;
	display:	flex;
	flex-direction:	column-reverse;
	}
	.header nav {
		display: flex;
		justify-content: center;

	}
	img.logo {
		display: none;
	}

	img.logo-original {
		display: unset;
		margin-top: 30px;
	}

	.home-content nav a {
		margin-top: 20px;
	
	}
	.home-content h1 {
		margin-top: 60px;
	}

	.home-content header {
	
		margin-top: 60px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.home-content
}





@media (max-width: 520px) {
	* {
		
	}


	
		
			

	.home-content nav {
		display: flex;
		flex-wrap: nowrap;
		flex-direction: column;
		align-items: space-between;
		justify-content: center;

	}
	.home-content {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		justify-content: center;
	}
	.content {
		display: flex;
		flex-wrap: nowrap;
		

	}
	.Upper-Content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		

	}

	.Lower-Content {
		display: flex;
		flex-direction: column;


	}
	.Features {
		margin: 0 0 10% 0;

	}	
	.Services {
		margin: 0 0 10% 0;
		max-height: 240px;

	}
	.Product {
		margin: 0 0 10% 0;
		max-height: 240px;
	}

	.Vision {
		margin: 0 0 10% 0;
		max-height: 150px;
		margin: 0 0 5px 0 ;
	}
	
	.content .middle-img {
		height: 20rem;
		width: 100%;
	}


	.home-content h1 {
		margin-top: 100px;
	}
	.home-content nav a {
	width: 100vw;

	border: 2px solid black;
}
.home-content header {
	height: 300px;
	margin-top: 60px;
	margin-bottom: -80px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.Contact-Section {

display:flex;
height: 2rem;
flex-direction: column;
border:1px solid black;

flex-wrap: wrap;

}
.Contact-Section li{
	display: flex;
	justify-content: flex-start;
	margin: 0 auto;
	flex-wrap: wrap;
	flex-direction: column;
	border:1px solid red;

}

.home-content footer {
	border:1px solid red;
	flex-flow: wrap column;
	align-items: flex-end;
	justify-content: flex-end;
}
.mobile-footer-fix {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	background: teal;
	width: 100%;
	height: 500px;
}
}