/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.container {
    width: 880px;
    margin: auto;
}

/* Header Styles */

header {
    width: 100%;
    display: flex;
}

header nav {
    margin-top: 40px;
    width: 610px;
    justify-content: space-between;
    display: flex;
}

header nav a {
    text-decoration: none;
    color: #b0b0b0;
}

header nav a:hover {
    text-decoration: underline;
    color: black;
}

header .logo {
    align-self: flex-end;
    margin: 28px 0 0 91px;
}

/* Call To Action (CTA) Styles */

.cta {
    display: flex;
    margin-top: 72px;
    justify-content: flex-end;
}

.cta .cta-text {
    font-size: 72px;
    text-align: center;
    letter-spacing: 5px;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    margin: 0 82px 0 0;
}

.cta .cta-text button {
    border: 1px double black;
    font-size: 16px;
    background: white;
    width: 170px;
    height: 32px;
    margin-top: 10px;
    cursor: pointer;
}

.cta .cta-text button:hover {
    background: black;
    color: white;
}

/* Main Content Styles */

.main-content {
   border-top: 2px solid black;
   border-bottom: 2px solid black;
   margin: 75px 0 35px 0;
   padding: 35px 0;
   font-size: 16px;
   line-height: 18px;
}

.main-content .top-content {
    display: flex;
    justify-content: space-around;
}

.main-content .middle-img {
    display: block;
    margin: 30px auto;
}

.main-content .bottom-content {
    display: flex;
    justify-content: space-around;
}

.main-content .bottom-content p {
    padding-right: 20px;
}

/* Contact Styles */

.contact p {
    margin: 15px 0;
}

/* Footer Styles */

footer {
    text-align: center;
    margin: 40px 0 20px;
}


/* Tablet styles */
@media (max-width: 768px) {
	.container {
		max-width: 100%;
		display: flex;
		flex-direction: column;
	}

	header {
		display: flex;
		flex-direction: column;
	}

	header nav {
		align-self: center;
		width: 708px;
	}

	header .logo {
		order: -1;
		align-self: center;
		margin-left: 0;
	}

	.cta {
		display: flex;
		justify-content: center;
	}

	.cta img {
		display: none;
	}

	.cta .cta-text {
		margin-right: 40px;
	}

	.cta .cta-text button {
		margin-top: 15px;
	}

	.main-content {
		width: 728px;
		height: 583px;
		align-self: center;
	}

	.main-content .top-content {
		width: 730px;
	}

	.main-content .top-content .text-content {
		width: 345px;
	}

	.main-content .top-content .text-content p {
		margin-top: 14px;
	}

	.main-content .middle-img {
		width: 720px;
	}

	.contact {
		width: 700px;
		align-self: center;
	}
}


/* Mobile Styles */

@media (max-width: 400px) {
	.container {

	}

	header nav {
		display: flex;
		flex-flow: column;
		align-self: center;
		justify-content: center;
		align-items: center;
		width: 400px;
	}

	header nav a {
		width: 400px;
		height: 50px;
		border-top: 1px solid gray;
		border-bottom: 1px solid gray;
		padding-top: 15px;
		text-align: center;
	}

	.main-content {
		width: 360px;
		height: 800px;
		display: flex;
		flex-flow: column;

	}

	.main-content .top-content {
		display: flex;
		flex-flow: column;
		align-items: center;
		width: 380px;
	}

	.main-content .middle-img {
		width: 360px;
	}

	.main-content .bottom-content {
		display: flex;
		flex-flow: column;
		width: 380px;
	}

	.text-content {
		margin-top: 20px;
	}

	.contact {
		width: 350px;
	}


}
