/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
html {
	margin: 0 auto;
    padding: 0;
    font-size: 62.5%;
}
body {
	width: 100%;
	margin: 0 auto;
    padding: 0;
    max-width: 880px;
}

p, a, address {
    font-size: 1.4rem;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
}

.main-container {
    max-width: 880px;
}

header {
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 60px;
	width: 100%;
	margin-bottom: 5%;
	align-items: center;
	background: silver;
    border-radius: 5px;
    max-width: 880px;
	

}

header>nav {
	width: 60%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

header>nav>a {
	width: 20%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: black;
	text-decoration: none;
}

header>nav>a:hover {
	background: black;
	color: white;
	border-bottom: 2px solid gray;
	font-weight: bold;
}

header>img {
	display: flex;
	justify-content: center;
	width: 30%;
	height: 100%;
	max-height: 40px;
	max-width: 100px;
	margin-right: 40px;
}

.get-started {
	padding-top: 5%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	height: 400px;
	width: 100%;
	border-bottom: 1px solid black;
}


.get-started>section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 50%;
	order: 1;
}

.get-started>section>h1 {
	font-size: 6rem;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.get-started>section>a, .grid>a {
	text-decoration: none;
	color: black;
	border: 1px solid black;
	border-left: 2px solid black;
	border-bottom: 2px solid black;
	padding: 2% 5%;
}

.get-started>img {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	order: 2;
	max-height: 280px;
	height: 100%;
	max-width: 34%;
	width:100%;
}

.main {
	height: 500px;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	border-bottom: 1px solid black;
	justify-content: space-between;
	margin-bottom: 40px;
	padding: 0;
}

#features, #about {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	height: 30%;
	width: 49%;
	justify-content: center;
	padding-left: 2%;
	margin: 0;
	padding: 0;
	
	
}


#product, #vision, #services {
	display: flex;
    width: 30%;  
    height: 30%;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	margin: 0;
	padding: 0;
}

.middle-img {
    margin-bottom: 5%;
    height: 30%;
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
}

#contact {
	
	margin-bottom: 40px;
}

footer {
	display: flex;
	justify-content: center;
}

/* services page */

#services-services {
	display: flex;
    flex-direction: column;
    padding-top: 1%;
	margin-top: 40px;
	margin-bottom: 40px;
	border-bottom: 1px solid black;
	height: 120px;
}

#services-services>h1 {
	font-size: 1.5rem;
}

.main-section {
	width: 100%;
	height: 660px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	border-bottom: 1px solid black;
	justify-content: space-between;
	margin-bottom: 40px;
}

.grid {
	display: flex;
	flex-direction: column;
	width: 48%;
	height: 200px;
	margin: 0;
	background-color:lightgray;
	color: black;
	border: 1px solid black;
	padding: 3%;
}

.grid>a {
	margin-top: 10px;
	width: 140px;
	background-color: white;
}

#facts {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 300px;
	border-bottom: 1px solid black;
	margin-bottom: 40px;
	justify-content: center;
	align-content: center;
}

#facts>img, #facts>section {
	display: flex;
	flex-direction: column;
	padding: 2%;
	
}

#facts>section>ul {
	padding-left: 4%;
	margin-top: 4%;
	list-style: square;
}

ul>li {
    font-size: 1.4rem;
}

/* media query */

/* Tablet Portrait */
@media only screen and (max-width : 800px) {
    a, p, address {
        font-size: 1.4rem;
    }
    body {
        width: 100%;

    }

    header {
        width: 100%;
        height: 100px;
        flex-direction: column;

    }

    header>img {
       order: 1;
       width: 200px;
       height: 60px;
       max-width: 140px;
       margin-bottom: 20px;
       margin-top: 10px;
    }

    header > nav {
        order: 2;
        width: 100%;

        justify-content: space-between;
    }

    header>nav>li {
        text-align: left;
    }
    .header-img {
        height: 300px;
        width: 100%;
    }

    .header-img>img {
        padding-top: 100px;
    }
    .services-services {
        height: 100px;
        width: 100%;
    }

    .get-started{
        width: 100%;
        height: 460px;
    }

    .get-started>section>h1 {
        font-size: 4.4rem;
       
    }
 

    .get-started>img {
        display: none;
    }

    .middle-img {
        width: 100%;
        max-width: 100%;
        height: 140px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .main {
        width: 100%;
        height: 532px;
    }

    

    #features {
        width: 46%;
        margin-right: 0;
        margin-left: 2%;
        margin-bottom: 0;
        padding-left: 0;
        padding-right: 0;
        margin-top: 10px;
        height: 140px;
        
    }

    #about {
        width: 46%;
        margin-right: 2%;
        margin-left: 0;
        margin-bottom: 0;
        padding-left: 0;
        padding-right: 0;
        margin-top: 10px;
        height: 140px;
        
    }



     #services {
        width: 30%;
        height: 200px;
        margin-right: 0;
        margin-left: 20px;
        margin-bottom: 0;
        padding-left: 0;
        padding-right: 0;
        margin-top: 0;
       
    }

    #vision {
        width: 30%;
        height: 200px;
        margin-right: 20px;
        margin-left: 0;
        margin-bottom: 0;
        padding-left: 0;
        padding-right: 0;
        margin-top: 0;
    }

    #product {
        width: 30%;
        margin-top: 0;
        height: 200px;
        margin-bottom: 0;
        padding-left: 0;
        padding-right: 0;
    }

    #contact {
        padding-left: 20px;
    }

    .grid {
        padding: 10px;
    }

   
    header, header>nav, header>img, .header-img, .services-header-img {
        width: 100%;
    }

    .header-img {
        margin-bottom: 10px;
    }

    #services-services {
        padding-left: 20px;

    }
}

/* phone portrait */
@media only screen and (max-width : 500px) {
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 2rem;
    }
    p, address, a {
        font-size: 1.4rem;
    }

    body { 
        width: 100%; 
        max-width: 100%;
        flex-direction: column;
}

        header, .get-started, .main, #contact, .main-section, #services-services, .main-section>section, #facts, .services-info-img, footer {
            flex-direction: column;
            width: 100%;
        }
        
        header {
            height: 20%;
            position: relative;
            margin-bottom: 2%;
        }

        header nav {
            flex-direction: column;
            width: 100%;
            height: 90%;
            align-items: center;
        }

        header nav>a {
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            font-size: 2.4rem;
            height: 25%;
            width: 100%;
        }

        .main-section>section {
            flex-wrap: wrap;
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        header>img {
            margin-right: auto;
            margin-left: auto;
            height: 10%;
        }



        .main-section {
            width: 100%;
            height: 1300px;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .get-started {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 24%;
            padding-top: 0;
            margin-bottom: 5%;
            border-bottom: 4px solid black;
            padding-bottom: 5%;
        }
        .header-img {
            display: none;
        }
        
        #services-services {
            
            height: 200px;
            margin-bottom: 10%;
            border-bottom: 4px solid black;
            text-align: center;
        }

        .services-header-img {
            display: none;
        }

        .main {
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            margin-bottom: 10%;
        }
        .middle-img {
            max-width: 100%;
            width: 100%;
            padding: 0;
            margin-left: 0;
            margin-right: 0;
        }

        #about, #features, #services, #product, #vision, .grid{
            width: 100%;;
            height: 20%;
            justify-content: flex-start;
            margin: 0;
            padding-left: 2%;
            padding-right: 2%;
            margin-bottom: 5%;
        }

        .grid {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 12%;
 
            
        }

        #facts {
            display: flex;
            flex-direction: row;
            height: 100%;
            width: 100%;;
            padding: 0;
        }

        #facts>section {
            float: left;
            width: 50%;
            height: 200px;
        }

        #facts>img {
            max-height: 250px;
            max-width: 50%;
            
        }

        #contact {
            padding-left: 2%;
        }

        footer {
            text-align: center;
        }
  
}