/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
	font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

.container {
	width: 100%;
	max-width: 880px;
	/* TB LR */
	margin: 0 auto;
}
  
footer {
	margin: 32px 0;
	text-align: center;
	font-size: 14px;
}
/* home-content */

/* header */
  
header {
	width: 100%;
	display: flex;
}

header nav {
	margin-top: 40px;
	width: 70%;
	justify-content: space-between;
	display: flex;
}
  
header nav a {
	text-decoration: none;
	color: grey;
}
  
header nav a:hover {
	text-decoration: underline;
	color: black;
}

header .logo {
	margin: 28px 0 0 30%;
}
  
/* cta */
  
.cta {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 50px 0px;
}

.cta .cta-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 77px;
	padding: 0px 9.7%;
	/* recheck this percentage above */
	text-align: center;

}

.cta .cta-text button {
	background: white;
	vertical-align: top;
	margin-top: 6px;
	padding: 8px 20%;
	font-size: 17px;
	border: 1px solid black;
	cursor: pointer;
}

.cta .cta-text button:hover {
	background: black;
	color: white;
  }
  
/* main-content */

.main-content {
	border-top: 1px solid black;
	margin-top: 20px;
	padding-top: 39px;
}
  
.main-content .top-content {
	padding: 0 .11%;
	display: flex;
}
  
.main-content .top-content .text-content {	
	margin-right: 3.8%;
	/* check this percentage above */
}
  
.main-content .top-content .text-content:last-child {
	margin-right: 0;
}
  
.main-content .middle-img {
	margin-top: 45px;
}
  
.main-content .bottom-content {
	margin-top: 37px;
	padding: 0 1.1%;
	display: flex;
}
  
.main-content .bottom-content .text-content {
	margin-right: 1.3%;
}
  
.main-content .bottom-content .text-content:last-child {
	margin-right: 0;
}

/* other */

.contact {
	margin-top: 57px;
	border-top: 1px solid black;
	padding: 39px 1.1% 0;
}
  
.contact p {
	margin: 20px 0;
}

/* services-content */

.services-content .main-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	border-bottom: 1px solid black;
	margin-bottom: 20px;
	padding-bottom: 39px;
}

.services-content .main-content .feature {
	border: 1px solid black;
	background: whitesmoke;
	margin: 10px 0; 
	padding: 10px;
	width: 420px;
}

.services-content .feature button {
	background: white;
	vertical-align: top;
	margin: 15px 0;
	padding: 10px 25px;
	font-size: 17px;
	border: 1px solid black;
	cursor: pointer;
	border-radius: 8px;
}

.services-content .feature button:hover {
	background: black;
	color: white;
}

.services-content .intro {
	margin-bottom: 40px;
}

.services-content .intro h2 {
	font-size: 25px;
}

.services-content .intro img {
	margin-top: 20px;
	margin-bottom: 20px;
}

.services-content .bottom-content {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	margin-top: 40px;
}

.services-content .bottom-content .box {
	width: 420px;
	height: 100%;
}

.services-content .bottom-content .box ul {
	height: 190px;
	display: flex;
	flex-direction: column;
	text-align: flex-start;
	justify-content: space-evenly;
}

.services-content .bottom-content .box ul li {
	list-style-position: inside;
}

@media (max-width: 768px) {
	.container {
		padding: 2%;
	}

	header {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
	}

	header .logo {
		align-items: center;
		margin: 28px 0 0 0;
	}

	header nav {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
	}
	
	header nav a {
	
	}
	
	header nav a img {
		display: none;
	}
	/* don't leave at none */
	
	.cta {
		display: flex;
		align-items: center;
	}
	
	.cta img {
		display: none;
	}
	/* leave at none */

	.main-content {
		width: 100%;
	}

	.main-content .top-content {
		display: flex;
		justify-content: space-between;
	}
	
	.main-content .middle-img {
		margin-top: 45px;
		width: 100%;
	}

	.main-content .bottom-content {
		display: flex;
		justify-content: space-between;
	}
}




@media (max-width: 400px) {


}