/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: 'Titillium Web', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Bangers', cursive;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.container {
  max-width: 880px;
  width: 100%;
  margin: auto;
  font-size: 1.6rem;
}

/* Header Styles */

header {
  width: 100%;
  display: flex;
}

header nav {
  margin-top: 40px;
  /* width: 610px; */
  justify-content: space-between;
  display: flex;
  font-size: 1.6rem;
  width: 100%;
}

header nav a {
  text-decoration: none;
  color: #b0b0b0;
}

header nav a:hover {
  text-decoration: underline;
  color: black;
}

header .logo {
  align-self: flex-end;
  margin: 28px 0 0 9%;
}

/* Call To Action (CTA) Styles */

.cta {
  display: flex;
  margin-top: 72px;
  justify-content: flex-end;
}

.cta .cta-text {
  font-size: 7.2rem;
  text-align: center;
  letter-spacing: 5px;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  margin: 0 9% 0 0;
}

.cta .cta-text button {
  border: 1px double black;
  font-size: 1.6rem;
  background: white;
  width: 58%;
  height: 32px;
  margin-top: 10px;
  cursor: pointer;
}

.cta .cta-text button:hover {
  background: black;
  color: white;
}

/* Main Content Styles */

.main-content {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin: 75px 0 35px 0;
  padding: 35px 0;
  font-size: 1.6rem;
  line-height: 18px;
}

.main-content .top-content {
  display: flex;
  justify-content: space-around;
}

.main-content .middle-img {
  display: block;
  margin: 30px auto;
  max-width: 100%;
}

.main-content .bottom-content {
  display: flex;
  justify-content: space-around;
}

.main-content .bottom-content p {
  padding-right: 20px;
}

/* Contact Styles */

.contact {
  font-size: 1.5rem;
  margin: 12.8% 1.6%;
}

.contact p {
  margin: 15px 0;
}

/* Footer Styles */

footer {
  text-align: center;
  margin: 40px 0 20px;
  font-size: 1.5rem;
}

/* At 768px and below do the following */
@media (max-width: 768px) {
  .container {
    width: 100%;
  }

  /* Header Styles */

  header {
    width: 90%;
    margin: 0 2.6%;
  }

  header .logo {
    margin: 3.6% 0 0 4%;
  }

  /* Call To Action (CTA) Styles */

  .cta .cta-text {
    margin: 0;
    width: 48%;
  }

  .cta img {
    margin-right: 2.6%;
  }

  /* Main Content Styles */

  .main-content {
    margin: 10.5% 3% 6%;
  }

  .main-content .middle-img {
    width: 100%;
  }

  .text-content {
    margin-right: 2%;
  }

  /* Contact Styles */

  .contact {
    margin: 0 2.6%;
  }
}

/* At 400px and below do the following */

@media (max-width: 400px) {
  .container {
    width: 100%;
  }

  /* Header Styles */

  header {
    flex-direction: column;
    width: 100%;
    margin: 0;
  }

  header nav {
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: auto;
    /* margin-top: 10px; */
    font-size: 2.4rem;
  }

  header nav a {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid black;
    padding: 4.75%;
    padding-left: 11%;
    padding-bottom: 5.8%;
  }

  header nav a:first-child {
    border-top: 1px solid black;
  }

  header .logo {
    margin: 5.5% auto;
    order: -1;
    margin-right: 22%;
  }

  /* Call To Action (CTA) Styles */

  .cta {
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 6.75%;
  }

  .cta .cta-text {
    margin: 0 0 12.5%;
  }

  .cta img {
    width: 72%;
    margin-right: 0;
  }

  /* Main Content Styles */

  .main-content {
    display: flex;
    flex-wrap: wrap;
    margin: 34.5% 5% 1%;
    font-size: 1.5rem;
    padding: 14% 2% 0 0;
  }

  .main-content .top-content {
    flex-direction: column;
  }

  .text-content {
    margin-bottom: 14.5%;
  }

  .main-content .middle-img {
    width: 100%;
    height: 53%;
    margin: 0;
  }

  .main-content .bottom-content {
    flex-wrap: wrap;
  }

  /* Contact Styles */

  .contact {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    margin: 7.8% 5.6%;
  }

  .contact p {
    margin: 2.7% 0;
  }

  /* Footer Styles */

  footer {
    font-size: 1.5rem;
    margin: 5% 0 0 2.69%;
  }
}
