/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.container {
    max-width: 880px;
    margin: auto;
}

/* Header Styles */

header {
    width: 100%;
    display: flex;
    flex-direction: column;
}

header nav {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav a {
    text-decoration: none;
    color: #b0b0b0;
    border: 1px solid black;
    width: 100%;
    text-align: center;
    padding: 20px 10px;
}

header nav a:hover {
    text-decoration: underline;
    color: black;
}

header div {
    align-self: center;
    margin: 0 0 0 0;
    order: -1;
    border: 1px solid black;
    width: 100%;
    padding: 30px 0;
    text-align: center;
}

/* Call To Action (CTA) Styles */

.cta {
    display: flex;
    margin-top: 72px;
    justify-content: flex-end;
}

.cta img {
    display: none;
}

.cta .cta-text {
    width: 100%;
    font-size: 72px;
    text-align: center;
    letter-spacing: 5px;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    /* margin: 0 82px 0 0; */
}

.cta .cta-text button {
    border: 1px double black;
    font-size: 16px;
    background: white;
    width: 170px;
    height: 32px;
    margin-top: 10px;
    cursor: pointer;
}

.cta .cta-text button:hover {
    background: black;
    color: white;
}

/* Main Content Styles */

.main-content {
   border-top: 2px solid black; 
   border-bottom: 2px solid black;
   margin: 75px 0 35px 0;
   padding: 35px 20px;
   font-size: 16px;
   line-height: 18px;
}

.main-content .top-content {
    display: flex;
    flex-direction: column;
}

.text-content {
    margin: 10px 0;
}

.main-content .middle-img {
    display: block;
    margin: 30px auto;
    width: 100%;
}

.main-content .bottom-content {
    display: flex;
    flex-direction: column;
}

.main-content .bottom-content p {
    padding-right: 20px;
}

/* Contact Styles */
.contact {
    padding: 0 20px;
}

.contact p {
    margin: 15px 0;
}

/* Footer Styles */

footer {
    text-align: center;
    margin: 40px 0 20px;
}

@media (min-width: 768px) {
    header nav {
        flex-direction: row;
    }

    header nav a, header div {
        border: none;
    }

    .main-content .top-content, .main-content .bottom-content {
        flex-direction: row;
    }

    .text-content {
        /* justify-content: space-between; */
        margin-right: 10px; 
    }
}