/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
    width: 100%;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.container {
    max-width: 880px;
    width: 100%;
    margin: 0 auto;
    font-size: 1.6rem;
}

/* Header Styles */

header {
    width: 100%;
    display: flex;
}

header nav {
    margin-top: 38px; 
    width: 100%;
    justify-content: space-between;
    display: flex;
}

header nav a {
    text-decoration: none;
    color: #b0b0b0;
}

header nav a:hover {
    text-decoration: underline;
    color: black;
}

header .logo {
    align-self: flex-end;
    margin: 2.8px 0 0 10%;
}

/* Call To Action (CTA) Styles */

.cta {
    display: flex;
    margin-top: 72px;
    justify-content: flex-end;
}

.cta .cta-text {
    font-size: 7.2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    margin: 35px 10% 0 0;
}

.cta .cta-text h1 {
    letter-spacing: 4px;
}

.cta img {
    margin-right: 1%;
}

.cta .cta-text button {
    border: .1rem double black;
    font-size: 1.6rem;
    background: white;
    width: 53%;
    height: 35px;
    margin-top: 20px;
    cursor: pointer;
}

.cta .cta-text button:hover {
    background: black;
    color: white;
}

/* Main Content Styles */

.main-content {
   border-top: 2px solid black; 
   border-bottom: 2px solid black;
   margin: 75px 0 20px 0;
   padding: 43px 0 45px 0;;
   line-height: 1.3;
   font-size: 1.6rem;
}

.main-content .top-content {
    display: flex;
    justify-content: space-around;
    padding-left: 1%;
}

.main-content .middle-img {
    display: block;
    margin: 35px auto;
    padding-left: 1%;
    max-width: 100%;
}

.main-content .bottom-content {
    display: flex;
    justify-content: space-around;
    padding-left: 1%;
}

/* Contact Styles */

.contact {
    margin-top: 30px;
    margin-left: 1%;
}

.contact h4 {
    margin-bottom: 18px;
}

.contact p {
        margin: 15px 0 21px 0;
}

/* Footer Styles */

footer {
    text-align: center;
    margin: 55px 0 20px 3%;
}

/* Media Queries */

/* tablet size */
@media (max-width: 768px) {

    .container {
        width: 100%;
    }

    header {
        width: 100%;
        padding: 0 2rem;
        justify-content: space-between;
    }

    header .logo {
        margin: 25px 2% 0 8%;
    }

    .cta .cta-text{
        margin: 0 auto;
    }

    .cta .cta-text h1 {
        margin-top: 10px;
    }

    .cta .cta-text button {
        margin: 10px 6% 5px 0;
        padding: 0;
    }

    .main-content {
        margin: 78px 0 11px 0;
        padding: 33px 0 20px 0;
    }

    .main-content .top-content {
        padding-left: 3%;
    }

    .main-content .middle-img {
        display: block;
        width: 95%;
        padding: 0;
        margin: 22px auto 31px auto;
    }

    .main-content .bottom-content {
        padding-left: 3%;
    }

    .contact {
        padding-left: 2%;

    }

    .contact p {
        margin: 15px 0 15px 0;
    }

    footer {
        margin: 42px 0 20px 2%;
    }
}

/* phone size */
@media (max-width: 400px) {

    .container {
        padding: 0;
    }

    header {
        padding: 0;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        border-bottom: 1px solid gray;
    }

    header nav {
        margin: 0;
        width: 100%;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        order: 1;
    }

    header nav a {
        border-top: 1px solid gray;
        padding: 2rem 0;
        text-align: center;
        display: inline-block;
        width: 100%;
        font-size: 2rem;
        font-weight: bold;
    }

    header .logo {
        margin: 2rem 0;
        align-self: center;
    }

    .cta {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 40px;
    }

    .cta .cta-text {
        margin: 0 auto;
        letter-spacing: 0;
    }

    .cta img {
        margin: 44px auto 0 auto;
        width: 80%;
    }

    .cta .cta-text button {
        margin: 10px 0 5px 2%;
        padding: 0;
    }

    .main-content {
        padding: 0 5% 75px 5%;
        margin-top: 87px;
        margin-bottom: 35px;
    }

    .main-content .top-content {
        flex-direction: column;
        justify-content: space-around;
        margin-top: 39px;
        padding: 0;
        height: 300px;
    }

    .main-content .bottom-content {
        flex-direction: column;
        justify-content: space-between;
        align-content: space-between;
        height: 400px;
        padding: 0;
    }


    .main-content .middle-img {
        margin: 27px 0 36px 0;
    }


}













