/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 62.5%;
    font-family: 'Titillium Web,' sans-serif;
} 

body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.container {
    max-width: 880px;
    width: 100%;
    margin: auto;
    font-size: 1.6rem;
}

/* Header Styles */

header {
    width: 100%; /*880px*/
    display: flex;
}

header nav {
    margin-top: 40px; 
    width: 69.3%;
    justify-content: space-between;
    display: flex;
}

header nav a {
    text-decoration: none;
    color: #b0b0b0;
}

header nav a:hover {
    text-decoration: underline;
    color: black;
}

header .logo {
    align-self: flex-end;
    margin: 28px 0 0 9%; /*L: 91px*/
}

/* Call To Action (CTA) Styles */

.cta {
    display: flex;
    margin-top: 72px;
    justify-content: flex-end;
}

.cta .cta-text {
    font-size: 7.2rem;
    text-align: center;
    letter-spacing: 5px;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    margin: 0 9.3% 0 0; /*R: 82px*/
}

.cta .cta-text button {
    border: 1px double black;
    font-size: 1.6rem;
    background: white;
    width: 52%; /*170px*/
    height: 32px;
    margin-top: 10px;
    cursor: pointer;
}

.cta .cta-text button:hover {
    background: black;
    color: white;
}

.cta img {
    max-width: 100%;
    margin-right: 1%;
}

/* Main Content Styles */

.main-content {
   border-top: 2px solid black; 
   border-bottom: 2px solid black;
   margin: 75px 0 35px 0;
   padding: 35px 0;
   font-size: 1.6rem;
   line-height: 18px;
}

.main-content .top-content {
    display: flex;
    justify-content: space-around;
}

.main-content .middle-img {
    display: block;
    margin: 30px auto; /*R/L?*/
}

.main-content .bottom-content {
    display: flex;
    justify-content: space-around;
}

.main-content .bottom-content p {
    padding-right: 2%; /* R: 20px*/
}

.main-content .text-content {
    margin: 0 1%;
}

/* Contact Styles */

.contact {
    margin: 20px 1%;
}

.contact p {
    margin: 15px 0;
}

/* Footer Styles */

footer {
    text-align: center;
    margin: 40px 0 20px;
}

/* css for Tablet */

@media (max-width: 768px) {

    .container {
    width: 100%;
    margin: 20px 2.6% 20px 2.6%; /* R/L: 20px*/
  }
    header {
      display: flex;
      flex-direction: column-reverse;
    }
    
    header .logo {
      align-self: center;
      margin: 10px 10% 20px 5%; /*R/L: 80, 40*/
    }
    
    header nav {
        width: 106.6%; /*720px*/
        margin: 15px 2% 10px .5%; /*R/L: 15, 5*/
        justify-content: space-between;
    }
    .cta img {
      display: none;
    }
    
    .cta {
        justify-content: center;
        margin-top: 60px;
    }

    .main-content {
        margin: 75px 2.6% 35px; /*R/L: 20*/
        font-size: 1.4rem;
    }

    .text-content {
        margin: 0 1%; /*R/L: 10px*/
    }

    .main-content .middle-img {
        width: 100%;
    }
    
    .contact {
        margin: 0 4%; /*R/L: 30px*/
    }

    footer {
        margin-top: 20px;
    }
    }

/* css for Phone */

@media (max-width: 400px) {

    .container {
        width: 100%;
    }

    header {
        justify-content: center;
    }

    header nav {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0; /*?*/
        padding: 0; /*?*/
    }

    header nav a {
        width: 100%;
        display: block;
        text-align: center;
        padding: 20px 0; /*?*/
        font-size: 2rem;
        border-bottom: 1px solid gray;
    }

    header nav a:first-child {
        border-top: 1px solid gray;
    }
    
    header .logo {
        order: -1;
        margin: 20px 0; /*?*/
    }

    .cta {
        margin-top: 50px;
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .cta .cta-text {
        margin: 0;
    }

    .cta img {
        display: block;
        max-width: 80%;
        margin: 55px 0 0 0; 
    }

    .main-content .top-content {
        flex-wrap: wrap;
        height: 300px;
    }

    .main-content .bottom-content {
        flex-wrap: wrap;
        align-content: space-between;
        height: 440px;
    }

    .text-content {
        margin: 0; /*?*/
    }

    .contact {
        margin: 20px; /*?*/
    }

}