html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
		font-size: 62.5%
	}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

div.container {
	width:100%;
	max-width: 880px;
	margin: 40px auto;
	display: flex;
	display: flex;
	flex-direction: column;

}

hr {
    margin: 25px 0px;
    height: 1px;
}



header {
	position: fixed;
	padding-top: 10px;
	top:0;
	height: 50px;
	width:880px;
	background: white;
	z-index: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;


}
header nav {
	width: 68.2%;   /* 600/880 = 68.2%*/
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header nav a {
	display: flex;
  align-items: center;
	text-decoration: none;
	font-size:1.6rem;
  color: darkgray;
  /* Animation -mouse over effect */
  background-image: linear-gradient(dodgerblue, dodgerblue);
	background-size: 0 8px, auto;
	background-repeat: no-repeat;
	background-position: center bottom;
	transition: all 1s ease-out;
}

header nav a:hover {
    background-size: 100% 1px, auto;
}

img.logo {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

section.header-main {
	margin-top:40px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

section.content-main {
	height: 480px;
}

aside.left, aside.right  {
	display: flex;
	flex-direction: column;
}

aside.header-left {

	text-align: center;
	justify-content: center;
	align-items: center;
	align-content: center;
}

aside.header-left h1 {
	font-size: 7.5rem;
    text-align:center;
	display: flex;
	justify-content: center;
	/*align-items: center;*/
}

a.button {
	width:55%;
    text-align: center;
    background-color: white;
    border: 1px solid #000;
    border-radius: 0.34%;
    color: #000;
    padding: 5px 4.5%;
    text-decoration: none;
    font-size: 1.6rem;
    margin-top: 28px;
}

a.button:hover {
  background-color: dodgerblue;
  color: White;
}

section.content-1 {
	margin-top: 6px;
	line-height: 1.125;

	display:flex;
	justify-content: center;

	margin:0 auto ;
}
section.content-2 {
	margin-top:-3px;
	line-height: 1.125;
	padding-bottom: 10px;

	display:flex;
	justify-content: center;
	margin:0 auto ;
}


.middle-img {
	margin: 15px 0;
	width:100%;

 }

 .services, .product, .vision {
 	 width: 33%;
 	 margin-right:0.5%;

 }



footer {
	margin-top:11px;
	margin-bottom: 30px;
	display: flex;
	flex-direction: column;
}

 footer p {
 	text-align: center;
 }

footer a {
	text-decoration: none;
	color:white;
}
address {
	margin-bottom: 36px;
}


 html p {
	font-size:1.6rem;
}

html h3 {
	font-size:2rem;
}
html h2 {
	font-size: 2.2rem;
}

address {
	font-size: 1.6rem;
}

/* 800px - tablet viewport */
@media(max-width: 800px) {
   div.container {
   	 width:100%;
   	 margin-top:5px;

   }
   header {
   	  display: flex;
   	  flex-direction: column;
   	  justify-content: space-between;
      width:100%;
   	  height:100px;
   }
   .logo {
   	  display: flex;
   	  order:0;
   	  margin-left:2.5%;

   }
   header nav {
   	 display: flex;
   	 width:96%;
   	 order:1;
   	 justify-content: space-between;

     margin-bottom: 20px;
   }
   section.header-main {
   	  margin-top:76px;

   }
   section.content-main {
      height: 330px;
			margin-top:130px;
   }

	 h1.innovation {
   	 letter-spacing: 0px;
   	 margin-bottom:11px;
   }
   img.header-image {
   	 display:none;
   }

   a.button {
   	width:55%;

   }

	 aside.header-left {
   	  padding-bottom:45px;
   }

   section.content-1 {
   	  margin-top:0px;
   	  display: flex;
   	  justify-content: center;
   }

   aside.left, aside.right {
   	  width: 48%;
   }

   section.middle-img, img.middle-img {
   	 width:100%;
   	 padding:0;
   }
   section.content-2, section.content-3 {
   	 margin-top:12px;
     width:96%;
     margin: 0 2%;
   }

   footer {
   	 margin-left:1.87%;
   	 margin-bottom:15px;
   }

}


/* 800px-tablet viewport	 */
@media(max-width: 800px) {
   div.container {
   	 width:100%;
   	 margin-top:5px;

   }
   header {
   	  display: flex;
   	  flex-direction: column;
   	  justify-content: space-between;

   	  width:100%;
   	  height:100px;
   }
   .logo {
   	  display: flex;
   	  order:0;
   	  margin-left:2.5%;

   }
   header nav {
   	 display: flex;
   	 width:96%;
   	 order:1;
   	 justify-content: space-between;
   	 margin-bottom: 20px;
   }
   section.header-main {
   	  margin-top:76px;

   }
   section.content-main {
      height: 330px;
			margin-top:130px;
   }
   h1.innovation {
   	 letter-spacing: 0px;
   	 margin-bottom:11px;
   }
   img.header-image {
   	 display:none;
   }

   a.button {
  	width:55%;

   }

  /* hr {
      width:96%;
      margin: 25px 2%;

  } */

   aside.header-left {
   	  padding-bottom:45px;
   }

   section.content-1 {
   	  margin-top:0px;
   	  display: flex;
   	  justify-content: center;
   }

   aside.left, aside.right {
   	  width: 48%;
   }

   section.middle-img, img.middle-img {
   	 width:100%;
   	 padding:0;
   }
   section.content-2, section.content-3 {
   	 margin-top:12px;
     width:96%;
     margin: 0 2%;
   }

   footer {
   	 margin-left:1.87%;
   	 margin-bottom:15px;
   }

}


/* 500px - mobile viewport */
@media(max-width: 500px) {
      body {
      	padding:0;
      	margin:0;
      }
     .container {
     	display: flex;
     	flex-direction: column;
     	width:96%;
     	padding:0;
     	margin:2%;
     }
     header {
     	display: flex;
     	flex-direction: column;
     	justify-content: space-between;
     	position: relative;
     	width:98%;
     	height: 50vh;
     }

     img.logo {
     	height:7vh;
     	margin-top: 10px;
     	margin-bottom: 15px;
     	}

     nav {
     	display: flex;
     	flex-direction: column;
     	justify-content: space-between;
     	width:100%;
     	position: relative;
     	}

     header nav a {
     	display: flex;
     	width:100%;
     	padding: 30px 0px;
     	margin:0;
     	font-size:2rem;
     	justify-content: center;
     	border-top: 1px solid gray;
     	}

     header nav a:last-child {
     	border-bottom:1px solid gray;
     }

     a.logo, img.logo {
     	height:7vh;
     	margin: 10px 0px;
   	 }
     section.middle-img {
     	width:96%;
     	margin:0 auto;
      margin-top:15px;
     }
     img.middle-img {
     	width:96%;
     }
       section.content-main {
         margin-top:130px;
         height: 330px;

      }
   	 section.header-main, aside {
   	 	display: flex;
   	 	flex-direction: column;
   	 	width:98%;
   	 }

   	 /* section.content-1 {
   	 	display: flex;
   	 	flex-direction: column;
   	 	align-items: center;
   	 	width:98%;
   	 } */

		 section.content-1,
   	 aside.left,
   	 aside.right,
   	 aside.services,
   	 aside.product,
   	 aside.vision {
   	 	 width:96%;
       margin: 0px 2%;
   	 	 display: flex;
   	 	 flex-direction: column;
   	 	 justify-content: center;
   	 	 margin-top: 30px;
		 }


		 aside.left {
       padding:0;
       margin:0;
     }
   	 h3 {
   	 	text-align: left;
   	 }

		 aside.header-left h1 {
  	 	font-size: 6.5rem;

}
