/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    font-size: 62.5%;
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

/*For me to see where to start, disregard*/

.container {
    width: 880px;
    margin: auto;
}

/* Header Styles */

header {
    width: 100%;
    display: flex;
}

header nav {
    margin-top: 40px; 
    width: 69.318%; /*610px69.318*/
    justify-content: space-between;
    display: flex;
}

header nav a {
    text-decoration: none;
    color: #b0b0b0;
    font-size: 1.6rem;
    
}

header nav a:hover {
    text-decoration: underline;
    color: black;
}

header .logo {
    align-self: flex-end;
    margin: 28px 0 0 10.34%;/*91px*/
}

/* Call To Action (CTA) Styles */

.cta {
    display: flex;
    margin-top: 72px;
    justify-content: flex-end;
}

.cta .cta-text {
    font-size: 7.2rem;/*72px*/
    text-align: center;
    letter-spacing: 5px;/*5px*/
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    margin: 0 9.3% 0 0; /*right 82px*/
}

.cta .cta-text button {
    border: 1px double black;
    font-size: 1.6rem;/*16px*/
    background: white;
    width: 58.88%;/*170px*/
    height: 32px;
    margin-top: 10px;
    cursor: pointer;
}

.cta .cta-text button:hover {
    background: black;
    color: white;
}

/* Main Content Styles */

.main-content {
   border-top: 2px solid black; 
   border-bottom: 2px solid black;
   margin: 75px 0 35px 0;
   padding: 35px 0;
   font-size: 1.6rem;/*16px*/
   line-height: 18px;
}

.main-content .top-content {
    display: flex;
    justify-content: space-around;
}

.main-content .middle-img {
    display: block;
    margin: 30px auto;/*auto*/
}

.main-content .bottom-content {
    display: flex;
    justify-content: space-around;
}

.main-content .bottom-content p {
    padding-right: 2.27%;/*20px*/
}

/* Contact Styles */

.contact p {
    margin: 15px 0;
}

/* Footer Styles */

footer {
    text-align: center;
    margin: 40px 0 20px;
}


/*CSS for Responsive Tablet*/

@media (max-width: 768px) {

    .container {
        width:768px;
        height:auto;
        
        
    
    }

    header {
        display: flex;
        flex-direction:column-reverse;
        align-items: center;
        width:100%;
        
        
        
        
    }

    header nav {
        width:100%;
        justify-content: space-around;
        
        

    }

    header nav a {

    }



    .logo {
        padding-right: 37.76%;/*290px*/
        
        
        
        
    }

    .cta {
        display: flex;
        justify-content: center;
        width:100%;
        

    }

    .cta .cta-text {
        padding-left:5.20%;/*40px*/
        

    }

    .cta .cta-text h1 {
        
    }

    .cta .cta-text button {
        margin-top:15px;
    }


    .snippet {
        display: none;
    }



    .main-content {
        width:100%;
        padding:20px 2.60% ;/*20px*/
        margin-bottom:0;
        
        
        

    }

    .main-content .middle-img {
        width: 98.68%;/*758px;*/
        padding-bottom:30px;
        
        margin-bottom: 0;
        
    }

    .main-content .top-content {
        margin-bottom:20px;
        padding-top:10px;
        display:flex;
        justify-content: space-between;
        
        
        

    }

    .main-content .top-content .text1 {
        padding-right: 5.2083%;/*40px*/
    }

    .main-content .top-content .text1 h4 {
        padding-left:2.6721%; /*10px*/
    }

    .main-content .top-content .text1 p {
        
        margin-top:20px;
        
        
       
    
    }

    .main-content .top-content .text2 {
        padding-right:2.7469%; /*20px*/
        
        
    }

    .main-content .top-content .text2 h4 {
        padding-right:11.2650%;/*40px*/
        margin-right: 2.8162%;/*10px*/
    }

    .main-content .top-content .text2 p {
        padding-top:10px;
    }


    .main-content .bottom-content {
        padding-bottom: 10px;
        padding-left: 1.3734%;/*10px*/
        
    }

    .main-content .bottom-content .text1 {
        
    }

    .main-content .bottom-content .text1 h4 {

    }

    .main-content .bottom-content .text1 p {
        padding-top:5px;
        padding-right:6.1806%;/*45px*/
        margin-bottom:20px;
    }



    footer {
      display: flex;
      justify-content: center;
    }

    .contact {
        padding-left:3.9062%;/*30px*/
        padding-top:40px;
        font-size:1.6rem;
    }

    footer {
        font-size:1.6rem;
    }
}

/*CSS for Responsive Phone*/

@media (max-width: 400px) {
    

    .container {
        width: 400px;
        height: auto;
        
        


    }

   

    header {
       width:400px;
      justify-content: center;
        
    }

    header .logo {
        display:flex;
        padding:0;
        
        align-self:center;
        margin:0;
        padding-top:20px;
        margin-bottom: 15px;
        
        
       
        
    }

    header nav {
        display: flex;
        flex-direction:column;
        align-items: center;
        
        margin:0;
        height:auto;
    }

    header nav a {
        border:1px solid gray;
        width:400px;
        display:flex;
        justify-content: center;
        font-size: 20px;
        padding: 20px 0;
        margin:0 400px;
    }

    .container .cta {
        
        margin:0;
        margin-top:40px;
        margin-bottom:65px;
        padding-left:40px;
        padding-top:5px;
        
    }

    .container .cta .cta-text {
        margin-bottom:5px;
    }







    .container .main-content {
        margin:0;
        width:400px;
        display: flex;
        flex-direction:column;
        height: auto;
        padding-bottom:10px;
        margin-bottom:12px;
    }

    
    .container .main-content .top-content {
        display: flex;
        flex-direction:column;
        margin-bottom: 0;
        padding-top:30px;
    }
    
    .container .main-content .bottom-content {
        display:flex;
        flex-direction: column;
    }

    .container .main-content .top-content .text1 {
        padding-right:0;
    }

    .main-content .top-content .text1 h4 {
        padding-left: 0;
    
    }

    .main-content .top-content .text1 p {
        padding-left: 0;
    }
    
    .container .main-content .top-content .text2 {
        padding-top:28px;
        padding-right:0;
    }

    .main-content .middle-img {
        height:110px;
        width: 100%;
        padding-right:0;
        margin:0;
        margin-bottom: 20px;
        padding:0;
        padding-top:35px;
        margin-bottom:15px;
    }

    .container .main-content .bottom-content {
        padding:0;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-top: 20px;
    }

    .main-content .bottom-content .text1 {
        margin-bottom: 15px;

    }

    .main-content .bottom-content .text2 {
        margin-bottom: 15px;
    }

    .main-content .bottom-content .text3 {
        margin-top:30px;
        margin-bottom:35px;
    }

    .contact {
        padding-left:20px;
    }

}

