/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Baloo', 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

/* Home Page css */

/* Wrapper */
.wrapper {
	max-width: 880px;
	box-sizing: inherit;
	display: flex;
	flex-direction: column;
	align-content: space-between;
	margin: 0 auto;
}

*, *:before, *:after {
	box-sizing: inherit;
  }

/* Navigation Bar CSS */
.nav-bar {
	display: flex;
	position: fixed;
	margin: 0 auto;
	width: 900px;
}

.nav-bar  ul{
	display: flex;
	align-content: space-between;
	text-decoration: none;
	
}

.nav-bar img {
	margin-left: 50px;
}
.nav-buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: white;
	width: 100%;
	padding: 25px;
}

.nav-buttons li a:link {
	text-decoration: none;
	opacity: .8;
  	color: black;
}

.nav-buttons li a:hover {
	background-color: grey;
	text-decoration: underline;
}

/* Header CSS */
header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 12vh;
	text-align: center;
	font-size: 75px;
}

header a {
	border: 2px solid black;
	padding: 12px 24px;
	display: inline-block;
	text-decoration: none;
	color: black;
	font-size: 15px;
}

header a:hover {
	background-color: black;
	color: white;
	text-decoration: underline;
}


/* Section and Content */
section {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.div-top {
	display: flex;
	border-top: 2px solid black;
	padding: 25px;
}

.sect {
	margin: 100px 0 50px 0;
	padding: 0 20px;
}

.div-img {
	display: flex;
	margin-top: 20px;
}
.div-bottom {
	display: flex;
	justify-content: center;
	border-bottom: 2px solid black;
}

/* Contact div */ 
.contact {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	padding-top: 95px;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px;
}

/* End Home Page CSS */

/* Start Service Page CSS */

/* Top Section */
.services-header-img {
	display: flex;
	margin-top: 12vh;
}

.top-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 25px;
}

section {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	flex-direction: row;
	padding-top: 50px;
}

h1 {
	font-size: 25px;
	font-weight: bold;
}
.content-boxes {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-around;
	padding: 25px;
	margin-top: 35px;
	width: 380px;
	border: 1px solid black;
}

.serv-buttons {
	padding: 10px 40px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid black;
}

.content-boxes a:hover {
	padding: 10px 40px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
	border: 1px solid black;
	background: black;
	color: white;
}

.top-content {
	display: flex;
	flex-wrap: wrap;
}

.bottom-services {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	padding: 25px;
	margin-top: 50px;
	border-top: 1px solid black;
}

.btm-serv-lft, .services-info-img {
	display: flex;
	flex-direction: column;
	padding: 25px;
	width: 400px;
}
.bottom-services li {
	list-style: square;
	padding: 5px;
}

/* My introduction of media queries */
 /* At 300px And below do the following: */
 @media (max-width: 768px) {
    .wrapper {
      background: orange;
    }
  }

 /* At 300px And below do the following: */
  @media (max-width: 400px) {
    .wrapper {
      background: teal;
    }
  }
