/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

body {
    max-width: 880px;
   margin: auto;
}

.top {
	display: flex;
	flex-direction: row;
	margin-left: 7%;
}

nav {
	display: flex;
	flex-direction: row;
}

nav a {
	color: gray;
	font-size: 14px;
	margin: 39px 68px 0px 0px;
	
}

.logo {
	right: 9.1%;
	padding-top: 2.6%;

}

.topmid{
	margin-top: 3.8%;
	margin-bottom: 7%;
	display: flex;
	justify-content: center;
}

.circle {
	margin-top: 3.5%;
	margin-left: 5%;

}

h1 {
	font-size: 75px;
	letter-spacing: 4px;

}

.inno {
	text-align: center;
	margin-left: 3%;
	margin-top: 9.3%; 	
}

.inno div {
	border: 1px solid black;
	padding: 5px 40px;
	font-size: 18px;
}

.hr{
	color: black;
	width: 85%;
	height: 10px;
	margin: auto;
}

.features {
	display: flex;
	justify-content: center;
	margin: 1em;
	padding: 2% 5% 3% 5%;
}

.middle-img {
	display: flex;
	padding-bottom: 1%;
	margin: auto;
}

.serv{
	display: flex;
	justify-content: center;
	padding: 0 3%;
}

.services{
	padding: 3%;
} 

.contact{
	margin-left: 6%;
	padding-top: 3%;
	padding-bottom: 3%;
	margin-top: 2%;
}

footer{
	text-align: center;
	padding: 5%;
}

/*Tablet*/

@media(max-width: 768px){
    .circle {
        display: none;
    }
    .top {
        flex-direction: column-reverse; 
    }
    .top img {
        margin: auto;
    }
}

/* Mobile*/

@media(max-width: 400px){
    
    .circle {
        display: none;
    }
    .top {
        flex-direction: column-reverse; 
    }
    .top img {
        margin: 0 auto 20px;
    }
    .top nav {
        flex-direction: column;
        align-items: center;
        border-top: .5px solid gray;
        border-bottom: .5px solid gray;
        
    }
    .top nav a {
        border: .5px solid gray;
        display: flex;
        padding: 8% 100%;
        margin: 0;
        font-size: 110%;
    }
    .middle-img {
        
    }
}

/* services page*/

.servhead {
	display: flex;
	justify-content: center;
	margin-top: 4%;
}

.servicetxt {
	padding: 2% 7%;
}

h3 {
	font-size: 25px;
}


.bigbox {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.boxes {
	width: 400px;
	margin: 2%;
	padding: 2%;
	border: 1px solid black;
	border-radius: 5px;
	background: lavender;
	line-height: 125%;
}

.learnbutton {
	border: 1px solid black;
	background: white;
	border-radius: 25px;
	padding: 1%;
	margin-top: 2%;
	width: 30%;
	display: flex;
	justify-content: center;
}

.facts {
	display: flex;
}

.facts div {
	padding: 3% 0 3% 5%;
	line-height: 130%;
	margin-left: 4%;

} 

.facts img {
	margin: 4% 8% 4% 4%;
}

ul {
	list-style-type: square;
	margin-left: 10%;
	line-height: 130%;
}