/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 62.5%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.container {
	max-width: 880px;
	width: 100%;
	margin: 0 auto;
  }
  
  /* header */
  
  header nav {
	display: inline-block;
	width: 691px;
	vertical-align: top;
	margin-top: 35px;
  }
  
  header nav a {
	display: inline-block;
	margin-right: 65px;
	font-size: 14px;
	color: gray;
	text-decoration: none;
  }
  
  header nav a:hover {
	text-decoration: underline;
  }
  
  header nav a:first-child {
	margin-left: 0;
  }
  
  header nav a:last-child {
	margin-right: 0;
  }
  
  header .logo {
	display: inline-block;
	margin-top: 25px;
  }
  
  /* cta */
  
  .cta .cta-text {
	display: inline-block;
	vertical-align: top;
	font-size: 77px;
	margin-top: 120px;
	text-align: center;
	padding: 0px 90px;
  }
  
  .cta .cta-text button {
	background: white;
	vertical-align: top;
	margin-top: 6px;
	padding: 8px 44px;
	font-size: 17px;
	border: 1px solid black;
	cursor: pointer;
  }
  
  .cta .cta-text button:hover {
	background: black;
	color: white;
  }
  
  .cta img {
	display: inline-block;
	margin-top: 69px;
  }
  /* MAIN CONTENT*/
  .main-content {
	border-top: 1px solid black;
	margin-top: 76px;
	padding-top: 39px;
  }
  
  .main-content .top-content {
	padding: 0 10px;
  }
  
  .main-content .top-content .text-content {
	width: 410px;
	display: inline-block;
	margin-right: 34px;
  }
  
  .main-content .top-content .text-content:last-child {
	margin-right: 0;
  }
  
  .main-content .middle-img {
	margin-top: 45px;
  }
  
  .main-content .bottom-content {
	margin-top: 37px;
	padding: 0 10px;
  }
  
  .main-content .bottom-content .text-content {
	width: 275px;
	display: inline-block;
	margin-right: 12px;
  }
  
  .main-content .bottom-content .text-content:last-child {
	margin-right: 0;
  }
  
  .contact {
	margin-top: 57px;
	border-top: 1px solid black;
	padding: 39px 10px 0;
  }
  
  .contact p {
	margin: 20px 0;
  }
  
  footer {
	margin: 32px 0;
	text-align: center;
	font-size: 14px;
  }

  /* SERVICES PAGE */
  .row {
	  display: flex;
	  justify-content: space-between;
	  margin-bottom: 40px;
  }
  .services-header-img {
	  margin-top: 30px;
	  margin-bottom: 0;
  }
  .services-content {
	  display: flex;
	  flex-direction: column;
	  margin: 30px 0 30px 0;
	  border-bottom: 1px solid black;
  }
  .services-text {
	  height: 250px;
	  width: 425px;
	  padding: 20px 20px 20px 20px;
	  border: 1px solid black;
	  background: #f9f9f9;
  }
  .row .services-text button {
	background: white;
	margin-top: 40px;
	padding: 8px 44px;
	font-size: 17px;
	border: 1px solid black;
	cursor: pointer;
  }
  .services-info {
	  padding: 0 0 30px 0;
  }
  .services-info h2 {
	  font-size: 20px;
  }
  .facts {
	  display: flex;
	  justify-content: space-between;
	  margin-bottom: 30px;
  }
  .facts .services-facts {
	  display: flex;
	  flex-direction: column;
	  height: 300px;
	  width: 400px;
	  padding: 0px;
  }
  .services-facts ul {
	margin-top: 20px;
	list-style-type: square;
	padding-left: 20px;
  }
  .services-facts ul li {
	margin-bottom: 10px;
	}
	
	/* TABLET MEDIA QUERY */
	@media ( max-width: 768px ){
		body {
			justify-content: center;
			text-align: center;
		}
		.container {
			width: 100%;
			max-width: 768px;
			margin: auto;
		}
		/* HEADER */
		header {
			display: flex;
			flex-direction: column;
		}
		header nav {
			order: 2;
		}
		header .logo {
			order: 1;
			}
		/* CTA */
		.cta {
			margin-bottom: 0;
		}
		.cta .cta-text {
			font-size: 7.7rem;
			margin-top: 8%;
			text-align: center;
			padding: 0 6%;
			}
		.cta img {
			display: none;
			margin: 0;
			padding: 0;
			}
		/* MAIN CONTENT*/
		.main-content {
			border-top: 1px solid black;
			margin-top: 1%;
			padding-top: 5%;
			}
		.main-content .top-content {
			display: flex;
			text-align: left;
		}
		.main-content .bottom-content {
			display: flex;
			text-align: left;
			margin-top: 20px;
			margin-bottom: 0;
		}
		.main-content img {
			margin: 0;
		}
		/* CONTACT*/
		.contact {
			margin-top: 30px;
			text-align: left;
		}
	}

	/* MOBILE MEDIA QUERY */
	@media ( max-width: 400px ) {

	}