/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.nav-container {
	display: flex;
	justify-content: space-evenly;
	position: fixed;
	top: 0;
    align-items: center;
	width: 100%;
	height: 80px;
	background: lightblue;
	z-index: 1;
}

.navigation li {
	color: gray;
	padding:  0px 30px 0px;
	display: inline-block;
	vertical-align: middle;
}

.navigation li a{
	text-decoration: none;
}

.navigation li a:hover{
	text-decoration: underline;
}

.nav-starter {
	margin-left: 45px;
}

.logo {
	margin-left: 15px;
}

.custom-header {
	display: flex;
	justify-content: center;
	position: relative;
	height: 385px;
	margin: 150px 0px 70px 0px;
}

.title-container {
	display: flex;
	order: 0;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 450px;
	height: 385px;
}

.title-text {
	font-size: 70px;
	text-align: center;
	
}

button {
    padding: 10px 40px;
    margin-top: 20px;
    cursor: pointer;
    background: white;
    border-radius: 5px;
    border: 1px solid black;
}

button:hover {
    background: black;
    color: white;
}

.cir-image {
	order: 1;

}

hr {
	display: flex;
	justify-items: center;
	width: 880px;
	border: .5px solid black;
}

.top-content {
	display: flex;
	justify-content: center;
	margin: 30px 0px 40px 0px;
}

.top-content .top-content-block {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	width: 440px;
}

.middle-img {
	display: flex;
	justify-content: center;
}

.bottom-content {
	display: flex;
	justify-content: center;
	margin: 30px 0px 40px 0px;
}

.bottom-content .bottom-content-block {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	width: 285px;
	margin: 0px 4px 0px 4px;
}

.contact-container {
	display: flex;
	justify-content: center;
	margin: 30px 0px 40px 0px;
}

.contact {
	display: flex;
	flex-direction: column;
	width: 880px;
}

footer {
	text-align: center;
}
.index-footer {
	margin-bottom: 100px;
}

.service-img {
	display: flex;
	justify-content: center;
	margin-top: 80px;
}

.services-blurb-container {
	display: flex;
	justify-content: center;
	margin: 30px 0px;
}

.services-blurb {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 880px;
}

h2 .services-title {
	font-size: 10px; 
}

.box-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.box-container .box-content {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-content: space-around;
	background: lightsteelblue;
	height: 252px;
	width: 420px;
	margin: 20px;
	padding: 20px;
	border: 1px solid black;
}

.box-text {
	display: flex;
	/* margin: 15px 0px; */
}

/* .services-button {
	display: flex;
	border: 1px solid black;
	background: white;
	width: 140px;
	height: 35px;
	justify-content: center;
	align-items: center;
	margin-top: 15px;
	border-radius: 4px;
} */

/* .services-button a {
	text-decoration: none;
	color: black;
}

.services-button a:hover {
	text-decoration: underline;
	background-color: gray;
} */

.services-title {
	font-size: 26px;
}

.facts-container {
	display: flex;
	justify-content: center;
	position: relative;
	height: 300px;
	margin: 40px 0px;
}

.facts-content {
	display: flex;
	order: 0;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: 420px;
	height: 300px;
	padding-right: 25px;
	margin-right: 20px;
}

.facts-list {
	width: 160px;
	padding: 5px;
	text-align: center;
}

.facts-list li {
	text-align: left;
	margin: 8px 0px;
}

.things-list {
	display: flex;
	flex-direction: column;
	list-style: inside square;
	align-content: flex-end;
	margin-top: 15px;
}

.facts-image {
	margin-left: 20px;
	order: 1;
}

.services-footer {
	margin: 100px 0px 10px 0px;
}