/* Use your CSS from RWD - I here.  IF you don't have CSS, use the solution CSS from RWD - I*//* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
    font-size: 62.5%;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.container {
  max-width: 880px;
  /* TB LR */
  margin: 0 auto;
  font-size: 1.6rem;
}

/* header */

.container header {
  display: flex;
  justify-content: space-between;
}

.container header nav {
  display: flex;
  justify-content: space-around;
  max-width: 691px;
  vertical-align: top;
  margin-top: 35px;
}

.container header nav a {
  margin-right: 65px;
  font-size: 14px;
  color: gray;
  text-decoration: none;
}

.container header nav a:hover {
  text-decoration: underline;
}

.container header nav a:first-child {
  margin-left: 0;
}

.container header nav a:last-child {
  margin-right: 0;
}

.container header .logo {
  margin-top: 25px;
  max-width: 100%;
  height: auto;
}

/* cta */

.cta .cta-text {
  display: inline-block;
  vertical-align: top;
  font-size: 6.5rem;
  margin-top: 5%;
  text-align: center;
  padding: 0%;
}

.cta .cta-text button {
  background: white;
  vertical-align: top;
  margin-top: 6px;
  padding: 8px 44px;
  font-size: 17px;
  border: 1px solid black;
  cursor: pointer;
}

.cta .cta-text button:hover {
  background: black;
  color: white;
}

.cta img {
  display: inline-block;
  margin-top: 69px;
}

.main-content {
  border-top: 1px solid black;
  margin-top: 76px;
  padding-top: 39px;
}

.main-content .top-content {
  padding: 0 10px;
  display: flex;
  
}

.main-content .top-content .text-content {
  max-width: 45%;
  margin-right: 5%;
}

.main-content .top-content .text-content:last-child {
  margin-right: 0;
}

.main-content .middle-img {
  margin-top: 45px;
}

.main-content .bottom-content {
  margin-top: 37px;
  padding: 0 10px;
  display: flex;
}

.main-content .bottom-content .text-content {
  width: 30%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
}

.main-content .bottom-content .text-content:last-child {
  margin-right: 0;
}

.contact {
  margin-top: 57px;
  border-top: 1px solid black;
  padding: 39px 10px 0;
}

.contact p {
  margin: 20px 0;
}

footer {
  margin: 32px 0;
  text-align: center;
  font-size: 1.6rem;
}




@media (max-width: 800px) {

  .body {
    margin: 0%;
    padding: 0%;
    width: 100%;
  }

    .container {
        width: 95%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 5%;
        padding: 0%;
    }

   .container header {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0%;
        padding: 0%;
    }

    .container header nav {
      width: 100%;
      order: 1;
      margin: 0%;
      padding: 5% 0%;
    }

    .container header img {
      width: 40%;
      height: auto;
      order: 0;
    }

    .cta {
      padding-top: 5%;
      margin: 0%;
      width: 100%;
      text-align: center;
    }

    .cta .cta-text {
      padding: 0%;
      margin: 0%;
    }

    .cta img {
      display: none;
      margin: 0%;
      padding: 0%;
    }

    .main-content img {
      max-width: 100%;
      height: auto;
  }


}





  @media (max-width: 500px) {

        .container {
           width: 100%
        }
    
        .container header {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 0px;
            padding: 0px;
        }

        header img {
            display: flex;
            width: 50%;
            height: auto;
        }

        .container header nav {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
        }

       .container header nav a {
            display: flex;
            border-bottom: 1px solid black;
            padding: 4% 0%;
            font-size: 2rem;
            margin: 0%;
            width: 100%;
            justify-content: center;
        }

        .cta img {
            display: none;
        }

        .cta {
            width: 100%;
            border: none;
            padding: 10% 0%;
            align-items: center;

        }

        .cta .cta-text {
          font-size: 6.5rem;
          margin: 0;
          padding: 0%;
          text-align: center;
          width: 100%;
        }

        .main-content {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            border-top: 2px solid black;
            margin: 0%;
        }

        .main-content img {
            width: 100%;
            height: auto;
        }

      .top-content {
        flex-wrap: wrap;
      }

    .text-content {
        flex-direction: column;
        margin: 5% 0%;
        padding: 0%;
        width: 100%;
        min-width: 350px;
    }


    .bottom-content {
      flex-wrap: wrap;
      margin: 0%;
      padding: 0%;
    }
  

}