/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*

	Example usage:

	.some-element {
		@media @tablet {
			width: 100%;
		}

		@media @phone {
			width: 50%;
		}
	}

*/
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: 'Titillium Web', sans-serif;
  font-size: 62.5%;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Bangers', cursive;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.container {
  width: 100%;
  max-width: 800px;
  margin: auto;
}
@media (max-width: 909px) {
  .container {
    width: 90%;
  }
}
@media (max-width: 743px) {
  .container {
    width: 90%;
  }
}
header {
  width: 100%;
  display: flex;
}
@media (max-width: 909px) {
  header {
    width: 100%;
    margin-right: 0;
  }
}
@media (max-width: 743px) {
  header {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}
header nav {
  width: 100%;
}
header nav ul {
  margin-top: 30px;
  width: 100%;
  justify-content: space-between;
  display: flex;
}
@media (max-width: 909px) {
  header nav ul {
    width: 90%;
    margin-left: 4%;
    margin-right: 1%;
  }
}
@media (max-width: 743px) {
  header nav ul {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}
header nav ul li a {
  text-decoration: none;
  color: #b0b0b0;
  font-size: 2rem;
}
header nav ul li a:hover {
  text-decoration: underline;
  color: black;
}
header .logo {
  align-self: flex-end;
  margin: 28px 0 0 9%;
  margin-right: 0;
}
@media (max-width: 909px) {
  header .logo {
    margin-left: 2%;
  }
}
@media (max-width: 743px) {
  header .logo {
    align-self: center;
    order: -1;
  }
}
/* Call To Action (CTA) Styles */
.cta {
  display: flex;
  margin-top: 72px;
  justify-content: center;
}
@media (max-width: 909px) {
  .cta {
    width: 100%;
    padding: 1%;
  }
}
@media (max-width: 743px) {
  .cta {
    width: 100%;
    padding: 1%;
  }
}
@media (max-width: 500px) {
  .cta {
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
.cta .cta-text {
  font-size: 7.2rem;
  text-align: center;
  letter-spacing: 5px;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  margin: 10px;
}
@media (max-width: 743px) {
  .cta .cta-text {
    font-size: 6rem;
    width: 100%;
    margin: 0;
  }
}
.cta .cta-text button {
  border: 1px double black;
  font-size: 1.6rem;
  background: white;
  width: 55%;
  height: 32px;
  margin-top: 10px;
  cursor: pointer;
}
.cta .cta-text button:hover {
  background: black;
  color: white;
}
.cta img {
  max-width: 300px;
  min-width: 250px;
}
@media (max-width: 743px) {
  .cta img {
    width: 100%;
    height: auto;
  }
}
/* Main Content Styles */
.main-content {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin: 10px;
  margin-left: 0px;
  padding: 35px 0;
  font-size: 16px;
  line-height: 18px;
}
@media (max-width: 909px) {
  .main-content {
    width: 100%;
  }
}
@media (max-width: 743px) {
  .main-content {
    width: 100%;
  }
}
.main-content .top-content {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 909px) {
  .main-content .top-content {
    width: 100%;
    padding: 1%;
  }
  .main-content .top-content p {
    padding: 0 2%;
  }
}
.main-content .middle-img {
  display: block;
  margin: 30px auto;
}
@media (max-width: 909px) {
  .main-content .middle-img {
    width: 0%;
  }
}
@media (max-width: 743px) {
  .main-content .middle-img {
    width: 100%;
  }
}
.main-content .bottom-content {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 909px) {
  .main-content .bottom-content {
    padding: 1%;
  }
}
@media (max-width: 743px) {
  .main-content .bottom-content {
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 1%;
  }
}
@media (max-width: 743px) {
  .main-content .bottom-content h4 {
    text-align: center;
  }
}
.main-content .bottom-content p {
  padding-right: 3%;
}
@media (max-width: 743px) {
  .main-content .bottom-content p {
    padding: 1%;
    padding-bottom: 10px;
  }
}
/* Contact Styles */
.contact {
  text-align: center;
}
.contact h4 {
  margin-left: 100px;
}
@media (max-width: 743px) {
  .contact h4 {
    margin-left: 0px;
  }
}
@media (max-width: 909px) {
  .contact {
    width: 600px;
  }
}
@media (max-width: 743px) {
  .contact {
    width: 380px;
  }
}
.contact p {
  margin: 40px 0;
}
@media (max-width: 909px) {
  .contact p {
    width: 713px;
  }
}
@media (max-width: 743px) {
  .contact p {
    width: 380px;
  }
}
/* Footer Styles */
footer {
  text-align: center;
  margin: 40px 0 20px;
}
@media (max-width: 909px) {
  footer {
    width: 713px;
  }
}
@media (max-width: 743px) {
  footer {
    width: 380px;
  }
}
