/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
    font-size: 62.5%;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 0.11%;
    margin-bottom: 1.7%;
}

.container {
    max-width: 880px;
    width: 100%;
    margin: auto;
   font-size: 1.6rem;
}

/* Header Styles */

header {
    width: 100%;
    display: flex;
}

header nav {
    margin-top: 4.55%; 
    width: 69.32%;
    justify-content: space-between;
    display: flex;
}

header nav a {
    text-decoration: none;
    color: #b0b0b0;
}

header nav a:hover {
    text-decoration: underline;
    color: black;
}

header .logo {
  margin: 28px 0 0 91px;
}

/* Call To Action (CTA) Styles */

.cta {
    display: flex;
    margin-top: 8.18%;
    justify-content: flex-end;
}

.cta .cta-text {
    font-size: 7.2rem;
    text-align: center;
    letter-spacing: 0.56%;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    margin: 0 9.32% 0 0;
}

.cta .cta-text button {
  border: 1px double black;
  font-size: 1.6rem;
  background: white;
  width: 170px;
  height: 32px;
  margin-top: 10px;
  cursor: pointer;
}

.cta .cta-text button:hover {
    background: black;
    color: white;
}

/* Main Content Styles */

.main-content {
  border-top: 2px solid black; 
  border-bottom: 2px solid black;
   margin: 8.52% 0 3.98% 0;
   padding: 3.98% 0;
   font-size: 1.6rem;
   line-height: 18px;
}

.main-content .top-content {
    display: flex;
}

.main-content .middle-img {
    display: block;
    margin: 3.41% auto;
}

.main-content .bottom-content {
    display: flex;
}

.main-content .bottom-content p {
    padding-right: 2.27%;
}

/* Contact Styles */

.contact p {
    margin: 1.7% 0;
}

/* Footer Styles */

footer {
    text-align: center;
    margin: 4.55% 0 2.27%;
}

/* Services Styles */

.services-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    line-height: 1.3;
}

.services-content .services-header-img {
    margin: 2.27% 0;
}

.services-content h1 {
    font-size: 2.6rem;
    margin: 1.14% 0;
}

.services-content .services-text {
  padding-bottom: 4.55%;
  margin-bottom: 2.27%;
}

.services-content .card {
    padding: 2.27%;
    width: 47.73%;
    background: whitesmoke;
    margin: 2.27% 0;
}

.services-content .card button {
    padding: 1.14% 4.55%;
    margin-top: 2.27%;
    cursor: pointer;
    background: white;
    border-radius: 5px;
}

.services-content .card button:hover {
    background: black;
    color: white;
} 

.services-content .services-info ul {
    margin: 2.27%;
}

.services-content .services-info ul li{
    list-style: square;
    padding: 0.57%;
}

.services-content .services-info {
    display: flex;
    flex-wrap: wrap;
    margin: 2.27% 0 3.98% 0;
    padding-top: 4.55%; 
}

.services-content .services-info .facts {
  width: 45.45%;
  margin: 0 6.82% 2.27% 0;
}

.services-content .services-info .facts p {
  margin-bottom: 2.27%;
}

.services-content .services-info .services-info-img {
  width: 47.73%;
  height: 300px;
}

@media (max-width: 800px) {
  .container {
    width: 90%;
  }

  header {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  header nav {
    order: 1;
    justify-content: space-between;
    width: 100%;
    margin-top: 2%;
  }


  header nav a:hover {
    background: lightskyblue;
    border: 3px solid blue;
    color: purple;
    transition: 3s ease-out border;
    /* transition-duration: 3s;
    transition-property: border;
    transition-timing-function: ease-out; */
  }

  header .logo {
    margin: 28px auto;
  }

  .cta {
    margin-top: 10%;
    justify-content: center;
  }

  .cta .cta-text {
    margin: 0 auto;
  }

  .cta img {
    display: none;
  }

  .main-content {
    padding: 6% 0;
    margin: 11% 0 3.98% 0;
  }

  .main-content .middle-img {
    width: 100%;
    margin: 6% auto;
  }

  .contact {
    margin: 6% auto;
  }
}

@media (max-width: 500px) {
  .container {
    width: 100%;
  }

  header nav {
    flex-wrap: wrap;
    margin: 0;
  }

  header .logo {
    margin: 20px auto;
  }

  header nav a {
    border: 1px solid black;
    padding: 4%;
    width: 100%;
    font-size: 2rem;
    flex-basis: 100%;
  }

  .cta {
    padding: 10% 0;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10%;
  }
  
  .main-content {
    border-top: 2px solid black;
    margin: 0 auto;
    padding: 9% 0 0 0;
    width: 90%;
  }
  
  .main-content .top-content {
    flex-wrap: wrap;
  }
  
  .main-content .text-content {
    padding: 4% 0;
  }

  .main-content .bottom-content {
    flex-wrap: wrap;
  }

  .bottom-content .text-content {
    padding: 8% 0;
  }

  .contact {
    margin: 8% auto;
    width: 90%;
  }
  
  .contact p {
    margin: 3% 0;
  }
}
