/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*

	Example usage:

	.some-element {
		@media @tablet {
			width: 100%;
		}

		@media @phone {
			width: 50%;
		}
	}

*/
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: 'Titillium Web', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Bangers', cursive;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.container {
  /* @media @laptop {
        width: 625px;
    }
    @media @tablet {
        width: 450px;
    }
    @media @phone {
        width: 225px;
    }
    width: 880px; */
  width: 225px;
  margin: auto;
}
@media (min-width: 400px) {
  .container {
    width: 450px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 625px;
  }
}
@media (min-width: 1100px) {
  .container {
    width: 880px;
  }
}
header {
  width: 100%;
  display: flex;
}
header nav {
  /* @media @laptop {
            width: 499px;
        }
        @media @tablet {
            width: 351px;
        }
        @media @phone {
            width: 186.5px;
        }
        width: 610px; */
  width: 44.7vw;
}
header nav ul {
  margin-top: 40px;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  /* @media @laptop {
                font-size: 15.3px;
            }
           /* @media @tablet {
                font-size: 14.3px;
            }
            @media @phone {
                font-size: 13.2px;
            }
            font-size: 16px; */
  font-size: 13.2px;
}
@media (min-width: 400px) {
  header nav ul {
    font-size: 14.3px;
  }
}
@media (min-width: 768px) {
  header nav ul {
    font-size: 15.3px;
  }
}
@media (min-width: 1100px) {
  header nav ul {
    font-size: 16px;
  }
}
header nav ul li a {
  text-decoration: none;
  color: #b0b0b0;
}
header nav ul li a:hover {
  text-decoration: underline;
  color: black;
}
header .logo {
  align-self: flex-end;
  /* @media @laptop {
            margin: 28px 0 0 74px;
            width: 166.5px;
            height: 33px;
        }
    /*    @media @tablet {
            margin: 28px 0 0 52px;
            width: 144px;
            height: 28.5px;
        }
        @media @phone {
            margin: 28px 0 0 27px;
            width: 120px;
            height: 23.5px;
        }
        margin: 28px 0 0 91px;
        width: 183px;
        height: 36px; */
  margin: 28px 0 0 27px;
  width: 120px;
  height: 23.5px;
}
@media (min-width: 400px) {
  header .logo {
    margin: 28px 0 0 52px;
    width: 144px;
    height: 28.5px;
  }
}
@media (min-width: 768px) {
  header .logo {
    margin: 28px 0 0 74px;
    width: 166.5px;
    height: 33px;
  }
}
@media (min-width: 1100px) {
  header .logo {
    margin: 28px 0 0 91px;
    width: 183px;
    height: 36px;
  }
}
/* Call To Action (CTA) Styles */
.cta {
  display: flex;
  margin-top: 72px;
  justify-content: flex-end;
}
.cta img {
  /* @media @laptop {
            width: 200px;
            height: 200px;
       // }
        @media @tablet {
            width: 100px;
            height: 100px;
        }
        @media @phone {
            width: 75px;
            height: 75px;
        }
        width: 379px;
        height: 379px;*/
  width: 75px;
  height: 75px;
}
@media (min-width: 400px) {
  .cta img {
    width: 100px;
    height: 100px;
  }
}
@media (min-width: 768px) {
  .cta img {
    width: 200px;
    height: 200px;
  }
}
@media (min-width: 1100px) {
  .cta img {
    width: 379px;
    height: 379px;
  }
}
.cta .cta-text {
  /* @media @laptop {
            font-size: 59px;
            margin: 0 68.5px 0 0;
        }
       /* @media @tablet {
            font-size: 58px;
            margin: 0 50.5px 0 0;
        }
        @media @phone {
            font-size: 40px;
            margin: 0 31px 0 0;
        }
        font-size: 72px;
        margin: 0 82px 0 0; */
  font-size: 32px;
  margin: 0 31px 0 0;
  text-align: center;
  letter-spacing: 5px;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}
@media (min-width: 400px) {
  .cta .cta-text {
    font-size: 54px;
    margin: 0 50.5px 0 0;
  }
}
@media (min-width: 768px) {
  .cta .cta-text {
    font-size: 64px;
    margin: 0 68.5px 0 0;
  }
}
@media (min-width: 1100px) {
  .cta .cta-text {
    font-size: 72px;
    margin: 0 82px 0 0;
  }
}
.cta .cta-text button {
  /* @media @laptop {
            font-size: 15.3px;
            width: 154.5px;
       // }
        @media @tablet {
            font-size: 14.3px;
            width: 134px;
        }
        @media @phone {
            font-size: 13.2px;
            width: 111px;
        }
        font-size: 16px;
        width: 170px; */
  font-size: 13.2px;
  width: 111px;
  border: 1px double black;
  background: white;
  height: 32px;
  margin-top: 10px;
  cursor: pointer;
}
@media (min-width: 400px) {
  .cta .cta-text button {
    font-size: 14.3px;
    width: 134px;
  }
}
@media (min-width: 768px) {
  .cta .cta-text button {
    font-size: 15.3px;
    width: 154.5px;
  }
}
@media (min-width: 1100px) {
  .cta .cta-text button {
    font-size: 16px;
    width: 170px;
  }
}
.cta .cta-text button:hover {
  background: black;
  color: white;
}
/* Main Content Styles */
.main-content {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin: 75px 0 35px 0;
  padding: 35px 0;
  font-size: 16px;
  line-height: 18px;
}
.main-content .top-content {
  display: flex;
  justify-content: space-around;
}
.main-content .middle-img {
  display: block;
  margin: 30px auto;
  width: 100%;
  height: 21%;
}
.main-content .bottom-content {
  display: flex;
  justify-content: space-around;
}
.main-content .bottom-content p {
  /* @media @laptop {
        padding-right: 10.9px;
    }
   /* @media @tablet {
        padding-right: 8.05px;
    }
    @media @phone {
        padding-right: 4.9px;
    }
    padding-right: 13px; */
  padding-right: 4.9px;
}
@media (min-width: 400px) {
  .main-content .bottom-content p {
    padding-right: 8.05px;
  }
}
@media (min-width: 768px) {
  .main-content .bottom-content p {
    padding-right: 10.9px;
  }
}
@media (min-width: 1100px) {
  .main-content .bottom-content p {
    padding-right: 13px;
  }
}
/* Contact Styles */
.contact p {
  margin: 40px 0;
}
/* Footer Styles */
footer {
  text-align: center;
  margin: 40px 0 20px;
}
