/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
    font-size: 62.5%;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 1.14%;
}

.container {
    max-width: 880px;
    width: 100%;
    margin: auto;
}

/* Header Styles */

header {
    width: 100%;
    display: flex;
}

header nav {
    margin-top: 4.54%; 
    width: 69.3%;
    justify-content: space-between;
    display: flex;
}

header nav a {
    text-decoration: none;
    color: #b0b0b0;
    font-size: 1.5rem;
}

header nav a:hover {
    text-decoration: underline;
    color: black;
}

header .logo {
    align-self: flex-end;
    margin: 3.1% 0 0 10.34%;
}

/* Call To Action (CTA) Styles */

.cta {
    display: flex;
    margin-top: 72px;
    justify-content: flex-end;
}

.cta .cta-text {
    font-size: 7.4rem;
    text-align: center;
    letter-spacing: 5px;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    margin: 0 9.31% 0 0;
}

.cta .cta-text h1 {
    letter-spacing: 6px;
}
.cta .cta-text button {
    border: 1px double black;
    font-size: 1.8rem;
    background: white;
    width: 47%;
    height: 9%;
    margin-top: 10px;
    cursor: pointer;
}

.cta .cta-text button:hover {
    background: black;
    color: white;
}

/* Main Content Styles */

.main-content {
   border-top: 2px solid black; 
   border-bottom: 2px solid black;
   margin: 8.52% 0 3.97% 0;
   padding: 3.97% 0;
   font-size: 1.6rem;
   line-height: 18px;
}

.main-content .top-content {
    display: flex;
    justify-content: space-around;
}

.main-content .middle-img {
    display: block;
    margin-top: 5.5%;
    margin-bottom: 4.4%;
}

.main-content .bottom-content {
    display: flex;
    justify-content: space-around;
}

.main-content .bottom-content p {
    padding-right:2%;
    padding-bottom: 6%;
}

/* Contact Styles */

.contact {
    margin-top: 5%;
    font-size: 1.6rem;
}

.contact p {
    margin-bottom: 3.3%;
    
}

/* Footer Styles */

footer {
    text-align: center;
    font-size: 1.38rem;
    margin: 5.5%;
}

@media(max-width: 768px){
    .container {
        width: 100%;
        padding-left:2.7%;           
    }
    
    header nav {
        margin-top: 5.55%;
        display: flex;        
        justify-content: space-between; 
    }

    header .logo {
        margin-top: 4.1%;
        margin-left: 8.2%;
        margin-right: 2.2%;
    }

    .main-content .middle-img {
        width: 100%;
        margin: 0%;
        margin-top: 2%;
        margin-bottom: 4.4%;
    }

    .cta {
        margin-top: 10%;             
        justify-content: flex-start;
        margin-bottom: 10.5%;
    }

    .cta .cta-text {
        margin: auto;
        font-size: 7.2rem;
        margin-top: 7.8%;
        margin-right: 5.8%;
    }

    .cta .cta-text h1 {
        letter-spacing: 2px;       
    }

    .cta .cta-text button{
        margin-top: 6.5%;
        text-align: center;
    }

    h4 {
        margin-bottom: 2.3%;
    }

    .cta img {
        justify-content: flex-end;
        
    }

    .main-content{
        width: 100%;
        padding-top: 5%;
        padding-bottom: 3.3%;
        margin-bottom: 0.3%;
    }
    
    .contact p{
        margin-bottom: 2%;
    }

    footer {
        font-size: 1.6rem;
        text-align: center;
        width: 91%;
    }
}

@media(max-width: 400px){
    .container {
        padding:0%;
        text-align: center;       
    }

    header {
        height: 100%;
        flex-wrap: wrap;
    }

    header nav{
        margin:2.86% auto;
        width:100%;
        flex-direction: column;
        align-items: center;
    }

    header .logo{
        order: -1;
        margin: 5.5% 0 2.4% 29%;
    }
    
    header nav a{
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
        width: 100%;
        text-align: center;
        padding:5.4%;
        padding-bottom: 6%;
        font-size: 1.8rem;
                     
    }    
    .main-content .middle-img {
        width: 100%;
        height: 100%;
        padding-left: 5%;
        padding-right: 1%;
    }
    
    .cta {
        flex-direction: column;             
        flex-wrap: wrap;
        margin: 0%;
        align-content: center;
    }

    .cta .cta-text{
        padding: 2% 2% 9.75% 5%;
        text-align: center;        
    }

    .cta img {
        justify-content: center;
        width: 87%;
        height: 100%;
        margin: 0% 0% 12% 7%;
    }

    .main-content{
        display: flex;
        flex-wrap: wrap;
    }

    .top-content {
        display: flex;
        flex-direction: column;
    }

    .top-content p{
        margin-bottom: 22%;
    }

    h4 {
        flex-wrap: wrap;
        text-align: left;
        margin-left: 5%;
    }
    
    .bottom-content{
        display: flex;
        flex-direction: column;
    }

    .bottom-content p{
        margin-bottom: 6%;        
    }

    .contact {
        margin-top: 10%;
    }
    
    .contact p{
        text-align: left;    
    }

    footer {
        margin-top: 16%;
    }
}