/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.container {
    width: 880px;
    margin: auto;
}

/* Header Styles */

header {
    width: 100%;
    display: flex;
}

header nav {
    margin-top: 40px; 
    width: 457px;
    justify-content: space-between;
    display: flex;
}

header nav a {
    text-decoration: none;
    color: #b0b0b0;
}

header nav a:hover {
    text-decoration: underline;
    color: black;
}

header .logo {
    align-self: flex-end;
    margin: 28px 0 0 91px;
}

/* Call To Action (CTA) Styles */

.cta {
    display: flex;
    margin-top: 72px;
    justify-content: flex-end;
}

.cta .cta-text {
    font-size: 72px;
    text-align: center;
    letter-spacing: 5px;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    margin: 0 82px 0 0;
}

.cta .cta-text button {
    border: 1px double black;
    font-size: 16px;
    background: white;
    width: 170px;
    height: 32px;
    margin-top: 10px;
    cursor: pointer;
}

.cta .cta-text button:hover {
    background: black;
    color: white;
}

/* Main Content Styles */

.main-content {
   border-top: 2px solid black; 
   border-bottom: 2px solid black;
   margin: 75px 0 35px 0;
   padding: 35px 0;
   font-size: 16px;
   line-height: 18px;
}

.main-content .top-content {
    display: flex;
    justify-content: space-around;
}

.main-content .middle-img {
    display: block;
    margin: 30px auto;
}

.main-content .bottom-content {
    display: flex;
    justify-content: space-around;
}

.main-content .bottom-content p {
    padding-right: 20px;
}

/* Contact Styles */

.contact p {
    margin: 15px 0;
}

/* Footer Styles */

footer {
    text-align: center;
    margin: 40px 0 20px;
}

/*tablet*/
@media (max-width: 768px) {

    .container {
        width: 100%;
        max-width: 768px;
    }

    header nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 52% 0% 0% 25%;
    }
    
    header nav a {
        text-decoration: none;
        color: #b0b0b0;
        margin: 0% 41% 0% 0%;
    }
    
    header .logo {
        display: block;
        margin: 0% 0% -10% 573%;
    }

    .cta {
        display: block;
        margin: 100px 0px 0px;
    }
    
    .cta .cta-text {
        font-size: 4.5rem;
        margin: -2% 7% -1% 1%;
    }

    .main-content .middle-img {
        margin: 3% 0% 3%;
    }

    .cta img {
        margin: -2% -2% 0% 0%;
    }

    .main-content {
        width: auto;
        margin: -2% 2% 12%;
        padding: 2% 0%;
        font-size: 2rem;
        line-height: 81%;
    }

    .main-content .top-content {
        display: flex;
        justify-content: space-around;
        font-size: 1rem;
    }

    .main-content .bottom-content {
        display: flex;
        justify-content: space-around;
        font-size: 1rem;
    }

    .contact {
        margin: -9% 2% 0%;
    }

    footer {
        margin: auto;
    }
        
}

/*phone*/
@media (max-width: 400px) {
    
    .container {
        width: 100%;
    }
    
    header nav ul { 
        display: flex;
        flex-direction: column;
        width: 9.5%;
        font-size: 1.5rem;
        margin: 30px 0px -60px 180px;
    } 

    header nav ul li a {
        display: flex;
        flex-direction: column;
        color: black;
        align-items: center;
    }
    

    header .logo {
        display: none;
    }

    .cta {
        margin: 115px 0px 0px 50px;
    }
    
    .cta .cta-text {
        margin: 0 12% 0;
    }

    .main-content .middle-img {
        display: none;
    }

    .main-content {
        margin: 15% 16% 20%;
        max-width: 80%;
        line-height: 20px;
    }

    .cta .cta-text {
        font-size: 3rem;
        margin: 0 20% 0 0;
    }
        
    .cta img {
        display: none;
    }

    .main-content .top-content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 18px;
    }

    .main-content h4 {
        margin: 15px 0 10px;
    }

    .main-content .bottom-content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 18px;
    }

    contact {
        display: flex;
        flex-direction: column;
        width: 63%;
        align-items: center;
    }

    .footer {
        margin: auto;
    }
}