/* Your code starts here! */

.great-header {
    position: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    max-width: 880px;
    margin: 1% 17%;
    z-index: 1000;
    padding: 1% 0;
    color: black;
    background: rgba(255,255,255,0.6);
}

nav {
    width: 70%;
    float: left;
    padding: 1% 1%;
}

a {
	text-decoration: none;
    padding: 3%;
    color: black;
}

a:hover {
    color:#8668B0;
}

.logo {
    float: right;
    margin-right: 3%;
}

@media(max-width:780px) {
    

    .great-header {
       height:100px;
    }

    .logo {
        
        order:-1;
        align-self: flex-start;
        flex: 1 0 100%;
        flex-grow: 1;
    }

    
}