/* header and main navbar */
header {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding: 2% 0 0 0;
}
header div {
  display: flex;
  flex: 2;
  justify-content: space-around;
  margin: 0 auto;
}
header div #main-nav {
  width: 100%;
}
header div #main-nav ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
header div #main-nav ul li {
  font-size: 1.3rem;
}
header div #main-nav ul li .main-nav-button {
  text-decoration: none;
  color: #40b299;
}
header .logo-area {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  margin-right: 2%;
}
/* end header and navbar area */
