
h2 {
  font-size: 2rem;
}

html {
  background-color: #666a86;
}

.nav-container header {
  background-color: #17255a;
}

.nav-container section {
  margin-top: 120px;
  padding-bottom: 40px;
  border-bottom: 1px solid black;
  margin-bottom: 40px;
  background-color: #7fa5d6;
}

.nav-container section img {
  width: 100%;
  margin-bottom: 40px;
}

.mid-container {
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  background-color: #a69cac;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

.mid-container section {
  display: flex;
  justify-content: center;
  max-height: 300px;
  width: 100%;
}

.mid-container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #7fa5d6;
  width: 300px;
  border: 1px solid black;
  border-radius: 5px;
}

.mid-container p {
  padding: 20px;
}

.mid-container button {
  background: none;
  border: 1px solid black;
  background-color: #b7b8c2;
  height: 32px;
}

.mid-container section img {
  width: 300px;
} 

@media (max-width: 800px) {
  .mid-container section img {
    height: 33vw;
    width: 40%;
  }
}

@media (max-width: 500px) {
  .nav-container section {
    margin-top: 20px;
  }

  .mid-container section {
    flex-direction: column;
    align-items: center;
  }

  .mid-container section:nth-child(2n-1) {
    flex-direction: column-reverse;
  }
}