
h2 {
  font-size: 20px;
}

.nav-container header a img {
  height: 45px;
  width: 183px;
  margin-top: 5px;
}

.nav-container section {
  margin-top: 70px;
  padding-bottom: 40px;
  border-bottom: 1px solid black;
  margin-bottom: 40px;
}

.nav-container section img {
  width: 100%;
  margin-bottom: 40px;
}

.mid-container {
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  background-color: lightgray;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

.mid-container section {
  display: flex;
  justify-content: center;
  max-height: 300px;
  width: 100%;
}

.mid-container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f2f4f7;
  width: 40%;
  border: 1px solid black;
  border-radius: 5px;
}

.mid-container p {
  padding: 20px;
}

.mid-container button {
  background: none;
  border: 1px solid black;
  background-color: white;s
  height: 32px;
}

.mid-container section img {
  width: 40%;
} 