/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
	margin-bottom: 20px;
	font-size: 1.6rem;
}

p {
	font-size: 1.6rem;
}

a {
	list-style-type: none;
	text-decoration: none;
	font-size: 1.6rem;
}

ul {
	font-size: 1.6rem;
}
/* Copy and paste your work from yesterday here and start to refactor into flexbox */

.container {
	width: 100%;
	max-width: 880px;
	margin: 0 auto;
	font-weight: 500;
	line-height: 20px;
}

header {
	width: 100%;
	display: flex;
	padding-top: 40px;
	padding-bottom: 20px;
}

header nav {
	display: flex;
	width: 68%;
	justify-content: space-between;
	align-items: center;
}

header nav a {
	color: gray;
}

header .logo {
	padding-left: 28%;
}

.cta {
	padding-bottom: 40px;
}

.cta .services-header-img {
	width: 100%;
}

.cta .cta-text {
	padding-top: 40px;
}

.cta .cta-text h1 {
	font-size: 25px;
}

.cta .cta-text p {
	font-size: 16px;

}

.main-content {
	display: flex;
	flex-flow: row wrap;
	border-top: 1px solid black;
	border-bottom: 2px solid black;
	justify-content: space-between;
	padding: 20px 0px;
}

.main-content .text-content {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: flex-start;
	border: 1px solid black;
	width: 48%;
	padding: 23px 2.6%;
	margin: 20px 0px;
	background: #F4F4F4;
}

.main-content .text-content button {
	border: 1px solid black;
	background-color: white;
	padding: 6px 8.6%;
	margin-top: 18px;
}

.service-bottom-content {
	display: flex;
	justify-content: space-between;
	padding-top: 40px;
}

.service-bottom-content .service-content {
	display: flex;
	flex-flow: column nowrap;
	width: 47%;
}

.service-bottom-content .service-content ul {
	padding-top: 22px;
	list-style-type: square;
	list-style-position: inside;
	line-height: 26.4px;
}

footer {
	display: flex;
	justify-content: center;
	align-content: center;
	padding-top: 80px;
	padding-bottom: 15px;
}

@media (max-width: 800px) {
	header {
		width: 100%;
		display: flex;
		flex-flow: column-reverse nowrap;
		padding-top: 40px;
		padding-bottom: 20px;
		align-items: center;
	}
	
	header nav {
		display: flex;
		width: 100%;
		justify-content: space-evenly;
		align-items: center;
	}
	
	header nav a {
		color: gray;
	}
	
	header .logo {
		padding-left: 0%;
	}

	.cta .services-header-img {
		width: 100%;
	}

	.service-bottom-content .services-info-img {
		display: none;
	}
}

@media (max-width: 500px) {
    .container {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    } 

    header {
        display: flex;
        flex-flow: column-reverse nowrap;
        align-items: center;
        padding: 16px 0%;
    }

    header nav {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        padding-top: 19px;
	}
	
	header .logo {
		padding-top: 5px;
	}

    header nav a {
        color: gray;
        font-size: 1.9rem;
        padding: 19.5px 0%;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid black;
    }

    header nav a:first-child {
        border-top: 1px solid black;
	}
	
	.cta {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}

	.cta .cta-text {
		padding-top: 20px;
		width: 94%;
	}

	.cta .services-header-img {
		display: none;
	}

	.main-content {
		display: flex;
		flex-flow: column nowrap;
		border-top: 1px solid black;
		border-bottom: 2px solid black;
		justify-content: space-between;
		align-items: center;
		padding: 20px 0%;
		width: 98%;
	}
	
	.main-content .text-content {
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;
		align-items: flex-start;
		border: 1px solid black;
		width: 98%;
		padding: 23px 2.6%;
		margin: 20px 0px;
		background: #F4F4F4;
	}
	
	.main-content .text-content button {
		border: 1px solid black;
		background-color: white;
		padding: 6px 8.6%;
		margin-top: 18px;
		text-align: center;
	}

	.service-bottom-content {
		display: flex;
		justify-content: center;
		padding-top: 40px;
	}
	
	.service-bottom-content .service-content {
		display: flex;
		flex-flow: column nowrap;
		width: 94%;
	}

	.service-bottom-content .services-info-img {
		display: none;
	}
}