/* Use your CSS from RWD - I here.  /* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html{
  /*  border: 4px solid purple; */
  font-family: 'Titillium Web', sans-serif;
  display: flex;
  max-width: 880px;
  flex-direction: column;
  /* max-width: 800px; */
  margin: 0 auto;
  height: 100%;
  font-size: 62.5%;
  background: palegoldenrod;
}



h1, h2, h3, h4, h5 {
  font-family: 'Bangers', cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

/*  VVVVVV    nav-container   VVVVV    */

.nav-container {
  border: 1px solid pink;
 display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar_top {
  border: 1px solid blue;
  display: flex;
  max-width: 88rem;
  width: 68%;
  justify-content: space-between;
  align-items: center;

  /* align-items: center;
   height: 40px;    */
}


.nav-container .navbar_top a {
  font-family: 'Titillium Web', sans-serif;
}

.navbar_top a{
  border: 1px solid green;
  color: #BABABA;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bolder;
}

.navbar_top a:hover {
  font-size: 3rem;
  color: dodgerblue;
}

.logoIMG {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 191.78px;
  /*background: lightgrey; */
}


/*    ^^^^^^^   nav-container    ^^^^^^^^  */


/* VVVVVV  -----main-----      VVVVVVVVVV */
.main {
  border: 1px solid purple;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  padding: 1% 0;
}

.services-header-img {
  border: 1px solid blue;
  width: 100%;
}

.main .services-banner h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 3.5rem;
  font-weight: bolder;
  padding-top: 3%;
}

.main .services-banner p {
  border: 1px solid salmon;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
}
/* ^^^^^^ ----main-----   ^^^^^^^  */

/*  VVVVVV  ~~~~ all-services ~~~~~   VVVVVVV   */

.all-services {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 4px solid cornflowerblue;
  border-right: 4px solid cornflowerblue;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2% 0;
  margin: 4.5% 0;
}

.all-services .service {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  background: #F4F3F4;
  width: 48%;
  padding: 2%;
  margin: 2.5% 0;
  justify-content: space-evenly;
}

.all-services .service h2 {
  border: 1px solid green;
  font-family: 'Black Han Sans', sans-serif;
  font-size: 1.5rem;
  margin: 0;
}

.all-services .service p {
  border: 1px solid green;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  padding: 6% 0;
  line-height: 1.25;
}

.contactBTN-container {
  border: 1px solid green;
  font-family: 'Palanquin', sans-serif;
  width: 100%;
}

.contactBTN {
  display: flex;
  justify-content: center;
  width: 40%;
  border: 1.5px solid black;
  color: black;
  font-family: 'Raleway', sans-serif;
  font-size: 1.25rem;
  font-weight: bolder;
  border-radius: .5rem;
  padding: 3%;
  text-decoration: none;
}

.contactBTN:hover {
  background: lavender;
}

.contactBTN:active {
  background: lightgrey;
}

/*  ^^^^^^  ~~~~ all-services ~~~~~   ^^^^^^   */


/*      FOOTER FOOTER  FOOTER     */

.service-footer {
  margin: 4% 0;
  border: 5px solid deeppink;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-top {
  border: 1px solid green;
  display: flex;
  justify-content: space-between;

}


.service-footer .facts-services {
  border: 2px solid green;
  display: flex;
  flex-direction: column;
  width: 45%;
}

.service-footer .facts-services h2 {
  font-family: 'Black Han Sans', sans-serif;
  font-size: 1.5rem;
}

.service-footer .facts-services p {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  line-height: 1.25;
}

.service-footer .facts-services ul {
  padding-top: 2%;
  list-style-type: square;
  list-style-position: inside;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  line-height: 2;



}

.service-footer .footer-top .services-info-img {
  border: 3px solid crimson;
  display: flex;
  justify-content: center;
}

.services-info-img  img{
  border: 3px solid blue;
  max-width: 420px;
  width: 100%;
}

.service-footer .copyright {
  text-align: center;
  font-size: 1.45rem;
  font-family: 'Titillium Web', sans-serif;
  padding-top: 7%;
}


/**************    800px break    *************/


@media (max-width: 800px) {

   .nav-container {
     flex-direction: column;
   }

  .nav-container .navbar_top {
    width: 100%;
  }

  .nav-container .navbar_top a {
    font-size: 2.5rem;
  }

  .nav-container .logoIMG{
    order: -1;
    padding-bottom: 2%;
  }

  .service-footer {
    border: 5px solid purple;
    justify-content: center;

  }

  .service-footer .footer-top {
    border: 5px solid purple;
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
    margin: 0;
  }


  .service-footer .footer-top .facts-services{
    border: 4px solid red;
    width: 100%;
  }


  .service-footer .footer-top .services-info-img img{

    max-width: 300px;
    width: 100%;
    order: 2;
    border: 4px solid pink;
    justify-content: center;

  }

}

@media (max-width: 500px) {
  .nav-container .navbar_top {
    flex-direction: column;
  }

  .nav-container .navbar_top a {
    width: 90%;
    padding: 2%;
    font-size: 3rem;
    border-top: 2px solid grey;
    text-align: center;

  }

  .main .services-banner p {
    font-size: 2rem;
  }

  .all-services {
    flex-direction: column;
  }

  .all-services .service {
    width: 100%;
  }

  .all-services .service h2 {
    font-size: 2rem;
  }

  .all-services .service p {
    font-size: 1.75rem;
  }

  .all-services .service .contactBTN-container {
    border: 1px solid hotpink;
    width: 100%;
  }

  .all-services .service .contactBTN-container .contactBTN {
    width: 100%;
    font-size: 2rem;
  }

  .service-footer .footer-top .facts-services h2 {
    font-size: 2rem;
  }

  .service-footer .footer-top .facts-services p {
    font-size: 2rem;
  }

  .service-footer .footer-top .facts-services ul li {
    font-size: 2rem;
    padding-bottom: 1.5%;
  }

  .service-footer .footer-top .services-info-img {
    margin: 3% 0;
  }

  .service-footer .copyright {
    font-size: 2rem;
  }

}