/*
    [CSS RESET CODE HERE]

    http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* 
    HTML5 display-role reset for older browsers 
*/

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	background-color: white;
}

/* 
    SETTING OTHER DEFAULT VALUES (INITIALLY DEFINED BY INSTRUCTOR) 
*/

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* 
    STYLING CODE 
*/

.top-overlay {
    background-color: white;
    margin: 0 auto;
    width: 90%;
    height: 20px;   
    position: fixed;
    top: 0px;
    left: 5%;
    z-index: 1;   
}

.container {
    max-width: 880px;
    margin: auto;
    margin-top: 20px;
    background-color: white;
    z-index: 0;
}

.container > header {
    position: relative;
}

.container > header > .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container > header > .links > nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    width: 70%;
    height: 45px;
}

.container > header > .links > nav >  a.main-link {
    text-decoration: none;
    color: silver;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}

.container > header > .links > nav >  a.main-link:hover {
    padding: 5px 10px;
    border: 5px double grey;
    margin: -5px -10px;
    transition-duration: 100ms;
    transition-property: all;
}

.container > header > .links > nav > a.main-link:active {
    border: 5px solid grey;
    font-weight: normal;
}

img.logo-link:empty {
    width: 100%;
    height: auto;
    margin-right:
}

.container > header > div.home-header {
    display: flex;
    justify-content: center;
    margin: 150px 0 100px;
}

.get-started-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.get-started-container > div {
    margin: 20px 25px;
}

.slogan {
    font-size: 7.5rem;
    text-align: center;
}

.get-started-button {
    margin-top: 30px;
    cursor: pointer;
}

.get-started-button > span {
    font-family: "Fira Mono";
    border: 1px solid black;
    padding: 5px 25px;
}

.get-started-button:hover > span {
    border: 1px solid grey;
    background-color: grey;
    color: white;
    transition-duration: 500ms;
    transition-property: all;
}

.get-started-button:active > span {
    background-color: silver;
    border: 1px dotted white;
    transition-duration: 125ms;
    transition-property: all;
}
    
.get-started-image:empty {
    background-image: url('http://i68.tinypic.com/f6lqu.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 380px;
    height:  380px;
    border-radius: 100%;   
}

header {
    border-bottom: 1px solid black;
    margin: 35px auto;
}

.grouping-container {
    display: flex;
    justify-content: space-between;
    margin: 15.5px auto;
    font-size: 1.6rem;
}

.grouping-container > section {
    margin: 0 1%;
    line-height: 1.15;
}

.middle-img {
    width: 100%;
    height: auto;
    margin: 17px 0;
}

footer {
    font-size: 1.4rem;
    width: 100%;
    border-top: 1px solid black;
    padding-top: 35px;
    margin-top: 35px;
}

footer > .contact-info {
    margin-left: 1%;
}

footer > .contact-info > address {
    line-height: 1.175;
}

footer > div.copyright-section {
    font-size: 1.5rem;
    margin: 20px auto;
    text-align: center;
}

.header-image {
    width: 100%;
    height: auto;
    margin: 20px 0;
}

.container > header > .header-description {
    line-height: 1.5;
    padding-bottom: 20px;
    margin: 25px 0 25px;
}

.container > header > .header-description > h1,
.container > header > .header-description > h2,
.container > header > .header-description > h3 {
    font-size: 3.75rem;
}

.header-description > p {
    font-size: 2rem;
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    border-bottom: 2.5px solid black;
    margin: 50px 0;
}

.services > article {
    width: 35%;
    background-color: rgb(233, 232, 232);
    border: 1px solid black;
    line-height: 1.25;
    padding: 20px;
    margin: 37.5px 0;
}

.services > article > * {
    margin: 10px 0;
}

.services > article > h1
.services > article > h2 {
    font-size: 2rem;
}

.services > article > a {
    display: block;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    width: 100px;
    height: 40px;
    margin: 25px 0 15px;
    background-color: snow;
    color: black;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 10px;
}

.extra-information {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.info-img {
    display: inline-block;
    width: 40%;
}

.extra-information-has-image {
    display: inline-block;
    width: 50%;
    margin-right: 20px;
}

.extra-information-has-image > article {
    width: 100%;
    line-height: 1.5;
}

.extra-information-has-image h3 {
    font-size: 2rem;
}

.extra-information-has-image  ul,
.extra-information-has-image  ol {
    line-height: 2;
    margin: 10px;
    padding-left: 25px;
}

.extra-information-has-image ul > li{
    list-style-type: square;
}

.extra-information-has-image ol > li{
    list-style-type: decimal;
}

@media (max-width: 800px) {
    .container > header > .links {
        flex-direction: column;
    }

    .container > header > .links a {
        order: -1;
        margin-bottom: 37.5px;
    }

    .container > header > .links > nav {
        width: 80%;
        flex-direction: row;
        align-items: center;
    }

    .container > header > .links > nav > a.main-link {
        margin-bottom: 0;
    }

    .container > header > div.home-header {
        display: flex;
        justify-content: center;
        margin: 75px 0 75px;
    }

    .get-started-image:empty {
        display: none;
    }

    .header-description {
        width: 90%;
    }

    .services > article {
        width: 45%;
        line-height: 1.5;
    }

    .extra-information {
        flex-direction: column;
        align-items: center;
    }

    .info-img {
        order: -1;
        margin-bottom: 30px;
    }

    .extra-information-has-image {
        width: 95%;
        margin-right: 0;
    }
}

@media (max-width: 500px) {
    .top-overlay {
        display: none;
    }

    .container {
        width: 100%;
    }

    .container > header > .links > nav {
        width: 100%;
        margin-top: 30px;
        flex-direction: column;
        justify-content: flex-start;
        height: auto;
    }

    .container > header > .links > nav > a.main-link {
        width: 100%;
        padding: 20px 0;
        border-top: 0.5px solid grey;
        border-bottom: 0.5px solid grey;
    }

    .container > header > .links > nav > a.main-link:first-child {
        border-top: 1px solid grey;
    }

    .container > header > .links > nav > a.main-link:last-child {
        border-bottom: 1px solid grey;
    }

    .container > header > .links > nav > a.main-link:hover {
        border: none;
        border-top: 0.5px solid silver;
        border-bottom: 0.5px solid silver;
        color: snow;
        background-color: silver;
        transition-duration: 500ms;
        transition-property: all;
        padding: 20px 0;
        margin: 0;
        z-index: 1;
    }
    
    .container > header > nav > a.main-link:active {
        border: 5px solid grey;
        font-weight: normal;
        padding: 20px 0;
    }

    .mobile-container {
        width: 90%;
        margin: auto;
    }

    .grouping-container {
        flex-direction: column;
    }

    .grouping-container > section {
        line-height: 1.5;
        margin: 25px 0;
    }

    .mobile-img-container {
        width: 95%;
        margin: 10px auto;
    }

    .mobile-img-container img {
        width: 100%;
    }

    .header-image {
        margin: 20px 0 0;
    }

    .header-description > * {
        width: 90%;
        margin: auto;
        line-height: 2;
    }

    .header-description > p {
        font-size: 1.2rem;
    }

    .services {
        flex-direction: column;
        align-items: center;
    }

    .services > article {
        width: 90%;
        line-height: 1.75;
        font-size: 1.2rem;
    }

    .services > article > a {
        padding: 5px;
    }

    .extra-information-has-image {
        display: block;
        margin: 0 auto;
        width: 90%;
    }
}