/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Titillium Web', sans-serif;
}

body {
  font-size: 1.6rem;
}

.container {
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
}

/* IMAGES */
.middle-img-container {
  margin-bottom: 50px;
  background-image: url('../img/mid-page-accent.jpg');
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 18.2rem;
}

.services-img {
  margin-bottom: 2rem;
}

/* MAIN */
.main {
  &--index,
  &--page {
    width: 95%;
    margin: 0 auto;
  }
}
