/* CONTACT */
.contact {
  font-size: 1.6rem;
  flex-direction: column;
}

.contact a,
.contact a:visited {
  color: #000;
  text-decoration: none;
  transition: all 300ms;
}

.contact a:hover {
  color: #ccc;
}
