/* Contact Styles */

.contact {
    @media @laptop {
        width: 100%;
        // background: red;
        padding: 10%;
    }
    @media @tablet {
        width: 100%;
        // background: yellow;
        padding: 10%;
    }
    @media @phone {
        width: 100%;
        // background: green;
        padding: 10%;
    }
    p {
        // margin: 40px 0;
    }
   
}