/* Call To Action (CTA) Styles */

.cta {
    display: flex;
    margin-top: 72px;
    justify-content: flex-end;
    @media @tablet {
        display: flex;
        justify-content: space-between;
        margin: 72px 4% 0 4%;
    }

    @media @phone {
        display:flex;
        justify-content: center;
    }

    .cta-text {
        font-size: 7.2rem;
        text-align: center;
        letter-spacing: 5px;
        display: flex;
        justify-content: center;
        flex-flow: column;
        align-items: center;
        margin: 0 10% 0 0;
        @media @tablet {
            font-size: 5.2rem;
            margin: 0 4% 0 4%;
            width: 50%;
		}

		@media @phone {
			margin: 0;
		}

    }

    .cta-text button {
        border: 1px double black;
        font-size: 1.6rem;
        background: white;
        width: 58%;
        height: 32px;
        margin-top: 10px;
        cursor: pointer;

        &:hover {
            background: black;
            color: white;
        }
    }
    img {
        @media @tablet {
            width: 45%;
            margin-right: 4%;
		}

		@media @phone {
			display: none;
		}
    }
}// cta