/* Call To Action (CTA) Styles */

.cta {
    display: flex;
    margin-top: 72px;
    justify-content: center; // changed this to center cuz flex-end was pulling it over to far right in laptop

    @media @tablet {
        flex-flow: row; // Sets everything in .cta to column, bringing image down under "Get Started" button
    }
    @media @phone {
        display: flex;
        flex-wrap: wrap;
    }

    .cta-text {
        width: 33.5%; // AWESOME! Okay so you can look up any px width with the Inspect option on Chrome Dev - 298/880
        font-size: 5.5rem;
        text-align: center; // Centers "INNOVATION ON DEMAND" - keep
        letter-spacing: 5px;
        display: flex;
        flex-flow: column;
        align-items: center;
        margin: 7% 11% 0 0; // adds a little space between INNO and circle image in laptop view - 82/880

        @media @tablet { // Everything appears pushed to the left... not sure why.
           
        }
        @media @phone {
            width: 100%;
        }
    }

    .top-img { // Added to adjust for tablet and iphone

        @media @tablet {
     
        }
    }


    .cta-text button {
        border: 1px double black;
        font-size: 1.2rem;
        background: white;
        width: 39.3%; // 117/298
        height: 32px;
        margin-top: 10px;
        cursor: pointer;

        &:hover {
            background: black;
            color: white;
        }
    }
}// cta