/* Footer Styles */

footer {
    text-align: center;
    font-size: 1.5rem;
    margin: 5% 0 3%;
    @media @tablet {
        font-size: 1.25rem;
    }
    @media @phone {
        font-size: .75rem;
    }
}
