// General Styles
@laptop ~'(max-width: 1100px)';
@tablet ~'(max-width: 768px)';
@phone ~'(max-width: 400px)';

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
    @media @laptop {
        width: 100%;
        // background: red;
    }
    @media @tablet {
        width: 100%;
        // background: yellow;
    }
    @media @phone {
        width: 100%;
        // background: green;
    }
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.container {
    width: 880px;
    margin: auto;
    @media @laptop {
        width: 100%;
        // background: red;
    }
    @media @tablet {
        width: 100%;
        // background: yellow;
    }
    @media @phone {
        width: 100%;
        // background: green;
    }
}