// General Styles

* {
    box-sizing: border-box;
}

html, body {
    background: lightcoral;
    height: 100%;

    font-family: 'Titillium Web', sans-serif;
    font-size: 62.5%; // 16px into a base of 10;

}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 0.1rem;
    margin-bottom: 10px;
}

.container {
    width: 100%;
    max-width: 880px;
    background: lightskyblue;
    margin: auto; // Fits <container> in center of <body>

    @media @tablet { // Ipad dimensions are not exactly proportional to desktop, so there is a bit of extra on the sides...how to fix this???
       
    }

    @media @phone {
        
    }
}