// General Styles

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
    font-size: 62.5%; //16px to base of 10px
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 100%;
    max-width: 880px;
    display: flex;
    flex-flow: column nowrap;
    margin: auto;
    // @media @laptop {
    //     max-width: 80%;
    // }
    // @media @tablet {
    //     max-width: 100%;
    //     margin: 0px;
    // }
    @media @phone {
        margin: 0px;
    }
}