// Header Styles

header {
    width: 100%;
    display: flex;

    nav {

        @media @laptop {
            width: 100%;
            display: flex;
            justify-content: center;
        }
        
        ul {
            margin-top: 40px; 
            width: 610px;
            justify-content: space-between;
            display: flex;

            @media @laptop {
                // justify-content: space-around;
                width: 550px;
            }

            @media @tablet {
                // justify-content: space-around;
                width: 450px;
            }

            li {

                a {
                    text-decoration: none;
                    color: #b0b0b0;

                    &:hover {
                        text-decoration: underline;
                        color: black;
                    }
                } // a
            } // li
        } // ul
    } // nav

    .logo {
        align-self: flex-end;
        margin: 28px 0 0 91px;

        @media @laptop {
            margin: 0 40px;
        }

        @media @tablet {
            margin: 5px 0 0 30px;
            padding-right: 30px;
        }
    }
} // header