// Header Styles

header {
    width: 100%;
    display: flex;

    @media @laptop {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    @media @tablet {
        flex-direction: column-reverse;
    }

    nav {

        ul {
            margin-top: 40px; 
            width: 610px;
            justify-content: space-between;
            display: flex;

            @media @laptop {
                justify-content: space-between;
                margin-right: 5px;
                margin-left: 5px;
            }

            @media @tablet {
                justify-content: space-between;
                width: 100%;
                margin-right: 5px;
            }

            li {

                @media @tablet {
                    margin-left: 5px;
                    margin-right: 5px;
                }

                a {
                    text-decoration: none;
                    color: #b0b0b0;

                    &:hover {
                        text-decoration: underline;
                        color: black;
                    }
                }
            }
        }
    }

    .logo {
        align-self: flex-end;
        margin: 28px 0 0 91px;

        @media @laptop {
            margin-left: 0px;
            margin-right: 5px;
        }

        @media @tablet {
            margin: 0;
        }
    }
}// header