header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
header nav ul {
  max-width: 610px;
  width: 100%;
  justify-content: space-between;
  display: flex;
  margin-top: 10%;
}
header nav ul li a {
  text-decoration: none;
  color: #b0b0b0;
}
header nav ul li a:hover {
  text-decoration: underline;
  color: black;
}
header .logo {
  align-self: flex-end;
  margin-left: 5%;
  margin-top: 5%;
}
