@import "reset";
@import "mixins";
@import "general-styles";
@import "header";
@import "cta";
@import "main-content";
@import "contact";
@import "footer";

// html, body {
//   height: 100%;
//   font-family: 'Titillium Web', sans-serif;
//   font-size: 62.5%; // 16px into a base of 10px
// }

// .container {
//   width: 100%;
//   max-width: 880px;
//   margin: auto;
// }

html, body {
  height: 100%;
  max-width: 1200px;
  width: 100%;
  font-size: 62.5%;
  display: flex;
  justify-content: center;
  align-self: center;
}

nav {
  font-size: 1.5rem;
}

// .cta {
//   width: 100%;
// }



.contact {
  font-size: 1.5rem;
  width: 100%;
  padding: 0%;
  text-align: center;
}

footer {
  font-size: 1.5rem;
}

@media @laptop {
  .main-header {
    display: flex;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }// holds the nav bar

  .logo {
    display: none;
  } // Good Idea! logo

  .cta {
    flex-direction: column;
    justify-content: center;
    align-content: center;

    h1 {
      padding-top: 100px;
      justify-content: center;
      color: white;
      width: 379px;
      height: 379px;
      font-size: 56px;
      background-image: url("../img/header-img.png");
    } // Innovation on Demand / text

    .circle{
      display: none;
    } // Circle image
  } // Center page content: Innovation // Button // Circle image
}

@media @tablet {
  .top-content {
    flex-direction: column;
    text-align: center;
    width: 64%;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .text-content {
    font-size: 1.25rem;
    width: 100%;
    padding: 2.5%;
  }
  .bottom-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 50px;
  margin-top: 0px;
  }
}
