/* LINKS SECTION */
.links {
  text-align: center;

  &__list {
    display: flex;
    flex-wrap: wrap;
    line-height: 1.7;
  }

  &__list a,
  &__list a:visited,
  &__social-list a,
  &__social-list a:visited {
    color: #999;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    margin-right: 1.14%;
    transition: all 0.2s;
  }

  &__list a:hover,
  .social-list a:hover {
    color: #cbecff;
  }
}
