/* Main Content Styles */

.main-content {
   border-top: 2px solid black; 
   border-bottom: 2px solid black;
   margin: 10% 0 3% 0;
   padding: 5% 0;
   font-size: 1.10rem;
   line-height: 100%;
}

.main-content .top-content {
    display: flex;
    justify-content: space-around;
}

.main-content .middle-img {
    display: block;
    margin: 5% auto;
    width: 100%
}

.main-content .bottom-content {
    display: flex;
    justify-content: space-around;
}

.main-content .bottom-content p {
    padding-right: 1%;
}