/* Main Content Styles */

.main-content {
    margin: 75px 0 35px 0;
    padding: 35px 0;
    border-top: 2px solid black; 
    border-bottom: 2px solid black;
    font-size: 1.6rem;
 
    .top-content {
        display: flex;
        justify-content: space-around;
        h4 {
            margin-top: 10px;
            text-align: center;
        }
        p {
            padding-right: 4%;
        }
        @media @phone {
            flex-direction: column;
        }
    }
 
    .middle-img {
        display: block;
        margin: 30px auto;
        width: 100%;
    }
 
    .bottom-content {
        display: flex;
        justify-content: space-around;
            h4 {
                margin-top: 10px;
                text-align: center;
            }
            p {
                padding-right: 4%;
            }
        @media @phone {
            flex-direction: column;
        }
    }
}