@import "mixins";
/* Main Content Styles */

.main-content {
   border-top: 2px solid black; 
   border-bottom: 2px solid black;
   margin: 75px 0 35px 0;
   padding: 35px 0;
   font-size: 16px;
   line-height: 18px;
}

.main-content .top-content {
    display: flex;
    justify-content: space-around;
    text-align: center;
}



.main-content .middle-img {
    display: block;
    margin: 30px auto;
    .keyframes(fade-in;{
		0% { opacity: 0; }
		100% { opacity: 1; }
		});

    .animation(fade-in 8s linear infinite alternate);
    
}

.main-content .bottom-content {
    display: flex;
    justify-content: space-around;
}

.main-content .bottom-content p {
    padding-right: 20px;
    text-align: center;
}
.main-content button {
    display:block;
    margin: 0 auto;
    background-color: white;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 10px;
    border-top: 1px solid black;
    .transition-properties(border-top .25s linear, color .5s linear;);
        
    &:hover {
        border-top: 6px solid @background-color--blue;
    }
}