@import "mixins";

/* Font */
@font-face {
    font-family: 'AsapRegular';
    src: url('fonts/Asap-Regular-webfont.eot');
    src: url('fonts/Asap-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Asap-Regular-webfont.woff') format('woff'),
         url('fonts/Asap-Regular-webfont.ttf') format('truetype'),
         url('fonts/Asap-Regular-webfont.svg#AsapRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Body */
// body {
// 	font-family: AsapRegular, sans-serif;
// 	font-size: 11pt;
// }
nav {
	
	width: 700px;
	height: 45px;
	
	
	ul {
		padding: 0;
		margin: 0;
		li {
			display: inline;
			a {
				text-decoration: none;
				display: inline-block;
				width: 90px;
				height: 45px;
				text-align: center;
				line-height: 100%;
				.textcolor(#f2f2f2); // You can change this line
				
				&:hover {
					.hovereffect;
				}
			}
		}
		li:first-child a {
			border-left: none;
		}
		li:last-child a {
			border-right: none;
		}
	}
}


/*navigation*/ 
 
#primary_nav ul {
    list-style: none;
    background: #1c1c1c;
    padding: 5px 0;
    
}
 
#primary_nav li a {
    display: block;
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    letter-spacing: 0.1em;
    line-height: 2em;
    height: 2em;
    border-bottom: 1px solid #383838;
}
 
#primary_nav li:last-child a {
    border-bottom: none;
}
 
#primary_nav li a:hover,
#primary_nav li a:focus {
    color: #1c1c1c;
    background: #ccc;
}

@media @tablet {
    
    a.to_nav {
        display: none;
    }
     
    .container {
        
        width: 768px;
        margin: auto;
    }
     
    #primary_nav {
        
        position: absolute;
        top: 5px;
        margin-left: auto;
        margin-right: auto;
        left: 60px;
        right: 0;
        background: none;
    }
     
    #primary_nav li {
        display: inline-block;
    }
     
    #primary_nav li a {
        
        float: left;
        
        border: none;
        padding: 0 10px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
    }
    #primary_nav li.top {
    display: none;
    }
}