// TYPOGRAPHY

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Bangers', cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
}

h2,
p {
  line-height: 1.4;
}

p a,
p a:visited {
  color: #8ad4ff;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}

.heading-primary {
  /* font-family: 'Montserrat', sans-serif; */
  font-size: 7rem;
  margin-bottom: 4.1rem;
  // @media (max-width: 800px) {
  //   font-size: 7rem;
  // }

  &--page {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.6rem;
    text-transform: uppercase;

    @media (max-width: 800px) {
      padding: 1rem;
    }
  }
}

.heading-secondary--page {
  margin-top: 2rem;
}

.paragraph {
  &--page {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    line-height: 1.7;
    text-align: left;

    @media (max-width: 800px) {
      padding: 1rem;
    }
  }
}
