// Colors

@bg-color: @light;
@fg-color: @dark;


@dark:  #333333;
@light: #efefef;
@white: #ffffff;


.bg-darkblue {
    background-color: #1f2c38;
}
.bg-darkgray {
    background-color: @dark;
}
.bg-darkgreen {
    background-color: #354846;
}
.bg-darkorange {
    background-color: #674a3c;
}
.bg-gray {
    background-color: #7a7a7a;
}
.bg-lightblack {
    background-color: #212121;
}
.bg-lightgray {
    background-color: #dddddd;
}
.cblack {
    color: #000000;
}
.cdark {
    color: @dark;
}
.clightgray {
    color: #dddddd;
}
.clight {
    color: @light;
}
.cwhite {
    color: #ffffff;
}
