header {
  width: 100%;
  display: flex;
}
header nav ul {
  margin-top: 140px;
  width: 610px;
  justify-content: space-between;
  display: flex;
}
header nav ul li a {
  text-decoration: none;
  color: #b0b0b0;
}
header nav ul li a:hover {
  text-decoration: underline;
  color: black;
}
header .logo {
  align-self: flex-end;
  margin: 28px 0 0 91px;
}
