/* Product Page ********************************/
.product-header {
  position: relative;
  top: 96px;
  margin: 0 0 72px 0;
}
h1.product-title {
  margin: -130px 0 100px 0;
}
img.code-img {
  width: 50%;
  max-width: 250px;
  filter: hue-rotate(90deg);
  filter: contrast(66%);
}