/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
    font-size: 62.5%;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 10px;
}


/* MOBILE FIRST @ WIDTH 400PX */
.container {
    width: 90%;
    margin: 0 auto;
}

header {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    text-align: center;
}

header nav {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
}

header .logo {
    order: -1;
    display: block;
    padding: 20px 0px;
    border-bottom: 1px solid black;
}

header nav a {
    font-size: 1.5rem;
    text-decoration: none;
    outline: none;
    color: gray;
    padding: 20px;
    border-bottom: 1px solid black;
}

header nav a:hover{
    color: black;
    text-decoration: underline;
}

.services-header-img {
    height: 200px;
    width: 100%;
    background: url('../../img/services-header.jpg') no-repeat;
    margin: 40px 0px;
}

.services-content {
    font-size: 1.5rem;
    display: flex;
    flex-flow: column wrap;
}

.services-content .card {
    padding: 5%;
    margin: 20px 0px;
    border: 1px solid black;
    background: lightgray;
}

.services-content .card button {
    border-radius: 0px;
    margin: 20px 0px;
    padding: 10px;
    border: 1px solid black;
    background: white;
    transition: 300ms ease-in-out;
}

.services-content .card button:hover{
    opacity: 0.7;
    cursor: pointer;
    transform: scale(1.15, 1.15);
}

.services-info .facts {
    margin: 20px 0px;
}

.services-info-img {
    margin: 20px 0px;
    height: 300px;
    width: 100%;
    background-size: cover;
    background: url('../../img/services-info.png') no-repeat;
}

.services-info ul {
    line-height: 3rem;
}

.contact {
    font-size: 1.5rem;
}

footer {
    font-size: 1.5rem;
    text-align: center;
    margin: 40px;
}


/* TABLET VIEW */
@media (min-width: 420px){
    header nav {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    header nav a{
        border: none;
        justify-content: space-between;
        padding: 20px 0px;
    }

    header .logo {
        width: 100%;
        border: none;
    }

    .services-header-img {
        background-size: cover !important;
        height: 200px;
        width: 100%;
        background: url('../../img/services-header.jpg') no-repeat;
        margin: 40px auto;
    }

    .services-content {
        font-size: 1.5rem;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .services-content .card {
        max-width: 45%;
    }

    .services-info {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .services-info .facts {
        max-width: 45%;
    }

    .services-info-img {
        max-width: 45%;
        background-size: cover;
        background: url('../../img/services-info.png') no-repeat;
    }
}

@media (min-width: 768px){
    header {
        position: absolute;
        top: 0;
        width: 90%;
        display: flex;
        justify-content: space-between;
    }

    header nav {
        width: 70%;
        position: absolute;
        align-content: center;
        padding: 10px 0px;
    }

    header .logo {
        width: 30%;
        position: absolute;
        align-self: flex-end;
        text-align: right;
    }


    .services-content {
        margin-top: 80px;
    }
}