// Mixins in here

.container-padding() {
    padding-left: 4%;
    padding-right: 4%;
}

.header-padding() {
    padding-top: 72px;
	padding-bottom: 75px;
    padding-left: 8.24%;
}

.row-centered() {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.column-centered() {
    display: flex;
	flex-direction: column;
	align-items: center;
}

.link-styling() {
    font-size: @nav-font;
    text-decoration: none;
    color: @nav-links;
}

.get-started-h1-styling() {
    font-size: 6rem; 
	text-align: center;
	letter-spacing: 2px;
	letter-spacing: 0.125rem;
}

.button-styling() {
    width: 150px;
	border: 1px solid black; 
    padding: 5px 1.9%;
    text-align: center;
    font-size: 1.5rem;
}

.content-padding() {
    padding-top: 35px;
    padding-bottom: 30px;
}

.address-styling() {
	font-size: 1.6rem;
}

.footer-styling() {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 80px;
    font-size: 1.5rem; 
}

.phone-margin() {
      margin-right: 4%;
      margin-left: 4%;
}



