
// Color assignments 
@font-color: @shark;
// @button-bg: @eastern-blue;
// @main-bg:  @white;
@nav-links: @silver;
// @footer-bg: @sandy-beach;

// Colors
// @white: #FFFFFF;
@silver: #C0C0C0;
@shark: #212529;
// @eastern-blue: #17A2B8;
// @sandy-beach: #FFEBCD;

// Fonts
@nav-font: 1.5rem;
// @button-font: 1.7rem;

//  @media Styling
//Escaping
@tablet: ~'(max-width: 800px)';
@phone: ~'(max-width: 500px)';

