@col1: #10324f;
@col2: #40b299;
@col3: #b1e1dd;

/* start two column set up */

.twoCol {
  display: flex;
  justify-content: space-between;
  div {
    background-color: @col3;
    font-size: 1.5rem;
    padding: 3%;
    margin: 5% 2%;
  }
}

/* end two column set up */

/*  start three column set up */

.threeCol {
  display: flex;
  justify-content: space-between;
  div {
    background-color: @col3;
    font-size: 1.5rem;
    margin: 5% 2%;
    padding: 2%;
  }
}

/* end three column set up */
