
/*   start actual code here */

/* start title area */

#index-title-area {
  display: flex;
  justify-content: space-around;
  margin: 40px auto;
  div {
    width: 48%;
  }
  #index-title {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    h1 {
      font-size: 5rem;
    }
    #start {
      margin: 1% auto;
      padding: 2% 8%;
    }
  }
  #index-image {
    margin: 0 auto;
    img {
      width: 80%;
      margin: 0 auto;
    }
  }
}

/* end title area */

/* banner image */

.imageBanner {
  display: flex;
  margin: 2% auto;
  width: 100%;
  .middle-img {
    margin: 0 auto;
    width: 100%;
  }
}
/* start footer */

 footer {
   margin: 0 auto;
   width: 100%;
   #contact {
     font-size: 1.5rem;
     padding: 2%;
     h3 {
       font-size: 3.5rem;
     }
     address {
       font-weight: bold;
     }
     #copyright {
       margin: 5%;
       text-align: center;
     }
   }
 }
/* end footer */
