/* services header image */
.header-img {
  margin: 0 auto;
  width: 90%;
  .services-header-img {
    margin: 5% auto;
    width: 100%;
  }
}

/* services section intro */

#services {
  display: flex;
  flex-direction: column;
  padding: 5% 2%;
  h2 {
    font-size: 3rem;
  }
  p {
    font-size: 2rem;
    padding: 3% 1%;
  }
}

/* start of two by three section */

#twoBythree {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  section {
    border: 1px solid darkgray;
    margin: 2% 2%;
    padding: 3%;
    width: 45%;
    * {
      font-size: 2rem;
    }
    h3 {
      font-size: 2.7rem;
    }
    button {
      margin: 5% 0;
    }
  }
}
  /* footer area */

footer {
  margin: 5% auto;
  #listAndPic {
    display: flex;
    div {
      margin: 1%;
      width: 48%;
      h3 {
        font-size: 3rem;
      }
      p {
        font-size: 2rem;
      }
      #footerList {
        list-style-type: square;
        font-size: 1.5rem;
        padding: 3% 0 0 5%;
      }
      img {

        display: flex;
        margin: 0 auto;
        width: 70%;
      }
    }
  }
  div {
    .copyright {
      display: flex;
      font-size: 2rem;
      justify-content: center;
      padding: 10% 0 0 0;
      width: 100%;
    }
  }
}
